{% include "/homev2/theme/header.html" %}
	<main id="content">
		<div id="page-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<nav aria-label="breadcrumb">
						  <ol class="breadcrumb">
						    <li class="breadcrumb-item"><a href="#">Home</a></li>
						    <li class="breadcrumb-item active" aria-current="page">Lending</li>
						  </ol>
						</nav>
						<h2 class="page-title">
							Lending
						</h2>
					</div>
				</div>
			</div>
		</div>
		<div id="page-content">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="entry-content">
							<h3 class="page-content-title">
								Lending
							</h3>
							<hr>
							<p class="page-content-description">
								<div class="description">
									Lending is to invest by your own XVG to get the return on a daily basis from the Management of XVG. The highest return per month is up to 48% of your investment. XVG provides investment options for you to get the full benefit as per your investment ability.
									<br>
									<br>
									You would like to invest more than $1,000, XVG will guarantee your return per day based on your investment as the additional benefit, excluding your daily return.
								</div>
								<div class="table-responsive">
									<table class="table table-bordered table-striped">
									  <thead>
									    <tr>
									      <th scope="col">LENDING AMOUNT</th>
									      <th scope="col">INTEREST</th>
									      <th scope="col">CAPITAL BACK</th>
									      <th scope="col">REFERRAL PROGRAM</th>
									    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <th scope="row">$100 - $999</th>
									      <td>Up to 48% per month</td>
									      <td>After 180 days</td>
									      <td>8% F1</td>
									    </tr>
									    <tr>
									      <th scope="row">$1,000 - $4,999</th>
									      <td>Up to 48% per month <b class="text-danger">(+1%/Month)</b></td>
									      <td>After 180 days</td>
									      <td>8% F1 + 2% F2</td>
									    </tr>
									    <tr>
									      <th scope="row">$5,000 - $9,999</th>
									      <td>Up to 48% per month <b class="text-danger">(+2%/Month)</b></td>
									      <td>After 150 days</td>
									      <td>8% F1 + 2% F2 + 1% F3</td>
									    </tr>
									    <tr>
									      <th scope="row">$10,000 - $49,999</th>
									      <td>Up to 48% per month <b class="text-danger">(+4%/Month)</b></td>
									      <td>After 120 days</td>
									      <td>8% F1 + 2% F2 + 1% F3 + 0.5 F4</td>
									    </tr>
									    <tr>
									      <th scope="row">$50,000 - $100,000</th>
									      <td>Up to 48% per month <b class="text-danger">(+7%/Month)</b></td>
									      <td>After 90 days</td>
									      <td>8% F1 + 2% F2 + 1% F3 + 0.5 F4 + 0.5 F5</td>
									    </tr>
									  </tbody>
									</table>
								</div>							
							</p>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</main>

{% include "/homev2/theme/footer.html" %}