{% extends "layout_home.html" %}
{% block title %}About Us {% endblock %}
{% block main %}
<section id="slider" class="slider2" >
   <div class="container clearfix">
      <div class="col-md-8 slider-overlay marketing" style="height: 310px;"></div>
   </div>
</section>
<section id="content" style="margin-bottom: 0px;">
   <div class="content-wrap">
      <div class="container clearfix">
         <div class="heading-block center">
            <div id="section-buy" class="heading-block title-center nobottomborder page-section">
               
               <div class="col-md-3">
                  <img src="/static/home/images/abount4.png" width="150">
               </div>
               <div class="col-md-9">
                  <h2 id="text" style="text-align: left;padding: 0; margin-top: 40px">ABOUT DIAMOND CAPITAL INVESTMENTS PVT LTD</h2>
                   <p style="font-style: inherit; font-weight: inherit; text-align: left;">
               
               Welcome to Diamond Capital. Diamond Capital is a subsidiary of Hingurana Group of Companies which is incepted in 2002 at Sri Lanka to meet the high expectations of local and international clients, we have collective investment performance which is the result of talented individuals working toward a common goal. </p>
               </div>

               <div class="col-md-9">
                   <p style="font-style: inherit; font-weight: inherit; text-align: left; margin-top: 40px;">Our group offers a variety of global investment solutions to both private and institutional investors. Our fund platform is focused on delivering benefits to our Investors a by diverting your investments in our diversified business portfolio offering unique products and preserving its commitment to protect investors’ capital. We view our investors as partners, and invest alongside them in every product that we offer. Which means we believe in what we preach. That is why the group's principals are the largest private investors in each of our funds.</p>  
               </div>
               <div class="col-md-3">
                  <img src="/static/home/images/abount5.png" width="150">
               </div>
              
               
               <p style="font-style: inherit; font-weight: inherit; text-align: left;">The founders of Diamond Capital group have a long history of managing assets for private and institutional clients. This experience includes managing client accounts, hedge funds, long-only funds, private equity and real-estate investments in Sri Lanka and other parts of the world. </p>
               
            </div>
         </div>
      </div>
      <div data-node="5aa6fb74453c0">
         <div>
            <div>
               <div data-node="5aa6fb745c1fb">
                  <div data-node="5aa6fb745ff05">
                     <div>
                        <div data-node="5aa6ff1d64058">
                           <div>
                              <h2 style="text-align: center;">OUR EXECUTIVE TEAM</h2>
                              <div class="" style="width: 270px; height: 82px; margin: 0 auto; border: 1px solid #eee; padding: 10px;">
                                 <p style="text-align: center;"><span style="font-weight: bold; color: #0e239c; font-size: 18px;">FOUNDER & CHAIRMAN</span> <br>MR. V.A.D.L.WASANTHA PERERA</p>
                              </div>
                              <div class="" style="width: 270px; height: 105px; margin: 0 auto; border: 1px solid #eee; padding: 10px; margin-top: 20px;">
                                 <p style="text-align: center;"><span style="font-weight: bold; color: #0e239c; font-size: 18px;">BOARD OF DIRECTOR
                                 </span> <br>Director : Mr.V.A.D.R.R.Perera <br>
                                 Director : Mr.V.A.D.N.P.K.Perera</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 text-center">
                           <img src="/static/home/images/abount1.png" width="200">
                           <div class="" style="width: 270px; height: 82px; margin: 0 auto; border: 1px solid #eee; padding: 10px; margin-top: 20px">
                           <div class="" style="margin-top: 10px;">

                           <span style="color: #0e239c; margin-bottom: 10px;">CFO - INVESTMENT DIRECTOR</span></div>
                           <div class="">
                           <span>MR.VIGNESWARAN SELVARAJAH</span>
                           </div>
                           </div>
                        </div>
                        <div class="col-md-4 text-center">
                           <img src="/static/home/images/abount2.png" width="200">
                           <div class="" style="width: 270px; height: 82px; margin: 0 auto; border: 1px solid #eee; padding: 10px; margin-top: 20px">
                           <div class="" style="margin-top: 10px;">
                           <span style="color: #0e239c; margin-bottom: 10px;">CEO – MANAGING DIRECTOR</span></div>
                           <div class="">
                           <span>MR.SAMAN BABDARA DISANAYAKE</span>
                           </div>
                           </div>
                        </div>
                        <div class="col-md-4 text-center">
                           <img src="/static/home/images/abount3.png" width="200">
                           <div class="" style="width: 270px; height: 82px; margin: 0 auto; border: 1px solid #eee; padding: 5px; margin-top: 20px">
                           <div class="" style="margin-top: 10px;">
                           <span style="color: #0e239c; margin-bottom: 10px;">FINANCE MANAGER</span></div>
                           <div class="">
                           <span>Ms. SWARNAKANTHI VIDANAGAMAGE</span>
                           </div>
                           </div>
                        </div>
                        <div class="clearfix"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- <div class="team-section">
         <div class="container clearfix">
            <div class="heading-block center">
               <h2>Our executive team</h2>
               We believe our people and relationships make the difference. Our client-focused approach is dedicated to ensuring our solutions meet changing needs. Our team is personally invested in our clients’ success. We have deep experience in developing and implementing enterprise data management solutions for firms to support operations, performance reporting, and compliance needs.
            </div>
            <div class="col_one_third nobottommargin">
               <div class="feature-box media-box">
                  <div class="my-team"><img class="alignnone size-medium wp-image-160" src="/static/home/images/ceo2-300x300.png" alt="" width="300" height="300"></div>
                  <div class="fbox-desc center">
                     <h3>L.Wasantha Perera</h3>
                     <h5><span style="color: #808080;">FOUNDER &amp; CHAIRMAN - SRILANKA&nbsp;</span></h5>
                     <p style="text-align: justify;"><span style="color: #808080;">He is the founder &amp; chairman of a group of companies operating in a variety of industries: Rice Mill, Steel Engineering, Furniture Factory, Grain Production Plant, Supreme Metal Factory, Milk Processing Plant &amp; Factory, Farm , Radio and Television BroadcastingStation, Spirit Factory, Hotel &amp; Resort 5 star , Shopping Mall Center ...</span></p>
                     <p style="text-align: justify;"><span style="color: #808080;">After over 20 years of great success &amp; experience, Mr L.Wasantha Perera is also the founder of Diamond Capital Investments;</span></p>
                  </div>
               </div>
            </div>
            <div class="col_one_third nobottommargin">
               <div class="feature-box media-box">
                  <div class="my-team"><img class="alignnone size-medium wp-image-159" src="/static/home/images/ceo1-300x300.png" alt="" width="300" height="300"></div>
                  <div class="fbox-desc center">
                     <h3>Vigneswaran Selvarajah</h3>
                     <h5><span style="color: #808080;">CFO - INVESTMENT DIRECTOR</span></h5>
                     <p style="text-align: justify;"><span style="color: #808080;">Have been in the sales and marketing industry for 20 years. Over 10 years of which have been in CEO &amp; Investment Director.</span></p>
                     <p style="text-align: justify;"><span style="color: #808080;">Mr Vigneswaran directly leads and manages various financial related new product development, logistics, supply chain &amp; manufacturing, compliance, sales &amp; marketing, and customer relationship.</span></p>
                  </div>
               </div>
            </div>
            <div class="col_one_third nobottommargin col_last">
               <div class="feature-box media-box">
                  <div class="my-team"><img class="alignnone size-medium wp-image-187" src="/static/home/images/photo_2018-08-10_17-19-12-300x300.png" alt="" width="300" height="300"></div>
                  <h3 style="text-align: center;">FARUK tercioglu</h3>
                  <h5 style="text-align: center;"><span style="color: #808080;">EXCHANGE TRADING DIRECTOR - SINGAPORE</span></h5>
                  <p style="text-align: justify;">As a financial industry veteran, Mr. Tercioglu works with strategic level executives to lead and support Organizational Development and Operational Consultation for financial and related industries. He has extensive experience in the development and implementation of various systems for regional and international operations.
                     Passionate about Cryptocurrency and the underlying technology blockchain, he successfully championed the integration of Cryptocurrencies into many industries .His professional expertise and diverse knowledge in a vast array of industries has especially benefited his clients.
                  </p>
               </div>
            </div>
         </div>
      </div> -->
      <!-- <div class="container clearfix">
         <div class="col_one_third nobottommargin">
            <div class="feature-box media-box">
               <div class="my-team"><img class="alignnone size-full wp-image-380" src="/static/home/images/photo_2018-08-09_20-28-16.jpg" alt=""></div>
               <div class="fbox-desc center">
                  <h3>PETER ANTONUCI</h3>
                  <h5><span style="color: #808080;">MANAGING DIRECTOR - DUBAI&nbsp;</span></h5>
                  <p style="text-align: justify;">Peter Antonucci is a Managing Director for Diamond Capital , with management responsibility for the technology, Managed Investments and Business Intelligence platforms. He also manages the technology platforms for Diamond Capital . Prior to assuming this role, Peter was the business technology officer Managed Investment business, responsible for application development and oversight of program management, project management and quality assurance.</p>
               </div>
            </div>
         </div>
         <div class="col_one_third nobottommargin">
            <div class="feature-box media-box">
               <div class="my-team"><img class="alignnone size-full wp-image-392" src="/static/home/images/butler-marc-390x400.png" alt="" width="390" height="399"></div>
               <div class="fbox-desc center">
                  <h3>marc butler</h3>
                  <h5><span style="color: #808080;">HEAD OF CAPITAL MARKETS</span></h5>
                  <p style="text-align: justify;">Marc Butler is the Chief Operating Officer and a Managing Director for Diamond Capital .Marc has been in the financial services industry for more than 20 years and was formerly a member of both the Securities Industry and Financial Markets Association (SIFMA) Internet Roundtable and SIFMA Investor Education Advisory Committee. He was previously the featured technology columnist in Boomer Market Advisor, a monthly magazine targeted at investment professionals.</p>
                  <p style="text-align: justify;">Marc frequently speaks at industry conferences including the Financial Services Institute and annual conferences.</p>
               </div>
            </div>
         </div>
         <div class="col_one_third nobottommargin col_last">
            <div class="feature-box media-box">
               <div class="my-team"><img class="alignnone size-full wp-image-387" src="/static/home/images/nerella-sravan-390x400.png" alt="" width="390" height="398"></div>
               <h3 style="text-align: center;">SRAVAN NERELLA</h3>
               <h5 style="text-align: center;"><span style="color: #808080;">DIRECTOR</span></h5>
               <p style="text-align: justify;">Sravan Nerellan is a Director, Product Management for Diamond Capital . In this role, he is responsible for Operations, Compliance and Business Intelligence Solutions, as well as overall product strategy and execution.</p>
               <p style="text-align: justify;">With more than 14 years of experience, Sravan blends business and technology perspectives across a wide variety of systems.</p>
               <p style="text-align: justify;">Sravan earned a Bachelor of Technology degree from the Indian Institute of Technology Kharagpur, and a Master of Business Administration degree from the Indian Institute of Management Bangalore.</p>
            </div>
         </div>
      </div> -->
   </div>
   <!-- <div class="container clearfix">
      <div class="row img_op topmargin nobottommargin center"><img class="alignnone size-large wp-image-534" src="/static/home/images/Screen-Shot-2018-08-18-at-20.16.32.png" alt=""></div>
      <div class="row img_op topmargin nobottommargin center"><img class="alignnone size-large wp-image-523" src="/static/home/images/photo_2018-08-17_13-27-00.jpg" alt=""></div>
   </div> -->
   <div class="spacer"></div>
   <div class="vision-section">
      <div class="container clearfix center">
         <div class="col_two_fifth nobottommargin" style="margin-right: 4%;">
            <h6 class="nobottommargin vision-title">Our Vision</h6>
            To be a leading financial institution and the partner of choice for institutional and personal clients seeking innovative and holistic solutions.
            To be the partner of choice for business owners and management teams that are motivated to achieve their full potential;
            To be the preferred fund manager for institutional investors that seek outstanding returns;
            To be a gold standard employer that attracts the best talent; and, to be a positive contributor to society at large.
         </div>
         <div class="col_one_fifth nobottommargin">
            <div class="mascot"><img src="/static/home/images/mascot_face.png"></div>
         </div>
         <div class="col_two_fifth nobottommargin col_last">
            <h6 class="nobottommargin vision-title">Our Mission</h6>
            Diamond Capital Investments’s mission is to find, invest in and build stronger businesses, development research into the application of blockchain technology in government management systems.It is by supporting the development of strong sustainable businesses that the Diamond Capital Investments funds can consistently deliver excellent financial returns to investors across economic cycles &amp;&nbsp;to help our clients achieve peace of mind.
            <div class="vision-icon"></div>
         </div>
      </div>
   </div>
   <div id="about" class="bottommargin-lg"></div>
   <div class="container clearfix">
      <div class="col_full">
         <div class="heading-block fancy-title nobottomborder title-bottom-border"></div>
         &nbsp;
      </div>
      <div data-node="5aa6f6588ca08">
         <div>
            <div>
               <div data-node="5aa6f65890712">
                  <div data-node="5aa6f6589441c">
                     <div>
                        <div data-node="5aa6f658a754d">
                           <div>
                              <div>
                                 <div data-node="5ac7edd027ed5">
                                    <div data-node="5ac7edd02bbdf">
                                       <div>
                                          <div data-node="5ac7edd02f8e8">
                                             <div></div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div data-node="5aa6f65898125">
                                    <div>
                                       <div data-node="5aa6f658a3843">
                                          <div>
                                             <div></div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div data-node="5ac7edd06c985">
                                    <div data-node="5ac7edd07068f">
                                       <div>
                                          <div data-node="5ac7edd074399">
                                             <div>
                                                <div></div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div data-node="5aa6f6589be2f">
                     <div>
                        <div data-node="5aa6f6589fb39">
                           <div>
                              <div></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div data-node="5aa6fb74453c0">
         <div>
            <div>
               <div data-node="5aa6fb745c1fb">
                  <div data-node="5aa6fb745ff05">
                     <div>
                        <div data-node="5aa6ff1d64058">
                           <div>
                              <h2 style="text-align: center;">Business Success Can Be Yours !</h2>
                              <p style="text-align: center;">Diamond Capital Investments can offer the high-quality service necessary to ensure you retain easy access to those funding programs best-suited to your company's needs. Contact us today to learn more about our alternative financing solutions.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div></div>
      <div>
         <div></div>
      </div>
      <h2></h2>
      <div>
         <div>
            <div>
               <div>
                  <div>
                     <div>
                        <img class="img-responsive" src="/static/home/images/home-banner-1918x550.jpg" alt="">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      &nbsp;
   </div>
   <div class="section footer-stick">
      <h4 class="uppercase center">What Clients Say?</h4>
      <div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
         <div class="flexslider" style="height: 69px;">
            <div class="slider-wrap">
               <div class="slide flex-active-slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
                  <div class="testi-content">
                     Happy to be part of Diamond Capital.
                     <div class="testi-meta">Darshan Bains</div>
                  </div>
               </div>
               <div class="slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                  <div class="testi-content">
                     Good site indeed.
                     <div class="testi-meta">Walter Kirwa Ngeny</div>
                  </div>
               </div>
               <div class="slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                  <div class="testi-content">
                     Great Job
                     <div class="testi-meta">Ronny Brodbeck</div>
                  </div>
               </div>
               <div class="slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                  <div class="testi-content">
                     Is so good to know that Diamond Capital Is doing so well.
                     <div class="testi-meta">Folusho Durodola</div>
                  </div>
               </div>
            </div>
            <ol class="flex-control-nav flex-control-paging">
               <li data-animate="zoomIn" data-delay="0" class="not-animated"><a href="#" class="flex-active">1</a></li>
               <li data-animate="zoomIn" data-delay="200" class="not-animated"><a href="#">2</a></li>
               <li data-animate="zoomIn" data-delay="400" class="not-animated"><a href="#">3</a></li>
               <li data-animate="zoomIn" data-delay="600" class="not-animated"><a href="#">4</a></li>
            </ol>
         </div>
      </div>
   </div>
</section>
{% endblock %}