{% extends "layout_home.html" %}
{% block title %}Blog {% endblock %}
{% block main %}
<section id="slider">
   <div class="container clearfix">
      <div class="col-md-8 slider-overlay marketing" style="height: 310px;"></div>
   </div>
</section>
<div class="clearfix"></div>
<section id="content" style="overflow: visible; margin-bottom: 0px;">
   <div class="container clearfix">
      <div class="heading-block center">
         <h3><span style="color: #000080;">blog</span></h3>
      </div>
      <p class="text-center">Updating</p>
      <!-- 
      <div class="row">
         <img class="alignleft wp-image-23" src="/static/home/images/shutterstock_790723873-1.jpg" alt="" width="450" height="281">
         <strong>What is blockchain?</strong>
         <div class="ibm-textcolor-default ibm-padding-top-1 ibm-padding-bottom-1">Blockchain is a shared, immutable ledger for recording the history of transactions. It fosters a new generation of transactional applications that establish trust, accountability and transparency—from contracts to deeds to payments.</div>
      </div>
      <div class="row">
         <img class="alignleft wp-image-23" src="/static/home/images/Screen-Shot-2018-08-14-at-16.48.57.png" alt="" width="450" height="281">
         <h4 id="ibm-pagetitle-h1" class="ibm-h1 ibm-textcolor-white-core ibm-padding-bottom-0 ibm-padding-top-1">Leverage blockchain to transform your business and disrupt your industry</h4>
         <p class="ibm-h4 ibm-light ibm-textcolor-white-core ibm-padding-top-1 ibm-padding-bottom-1">Transform your business with the ability to digitize your transaction work flows. With blockchain, you can transact more smoothly and efficiently, and reimagine your key business processes.</p>
         Right now, blockchain is helping reshape industries in domains as varied as finance, healthcare, government and manufacturing. The technology will continue to evolve and be used in more innovative ways.
      </div>
      <div class="row">
         <img class="alignleft wp-image-23" src="/static/home/images/Blockchain-article-1.jpg" alt="" width="450" height="281">
         <h4 class="ibm-h1 ibm-medium ''">Blockchain for government: Building trust, demolishing bureaucracy</h4>
      </div>
      <div class="row">
         <img class="alignleft wp-image-23" src="/static/home/images/Blockchain-Image-for-Press-Release.jpg" alt="" width="450" height="281">
         <h3 class="ibm-h1 ibm-medium ''">Blockchain in Dubai: Smart cities from concept to reality</h3>
         <h6 class="ibm-h1 ibm-medium ''">Fin Blog 6th June 2018</h6>
         Dubai is known for being at the forefront of technological innovation. As one of the first governments to engage with blockchain, Dubai’s story is inspirational and can provide a road map to anyone interested in creating smart cities by transforming transactions with the distributed ledger technology. The journey began when blockchain was just a concept, and Dubai is now carrying out a city-wide pilot that will help make it more of a reality.
         <h4 class="ibm-h2">Global Blockchain Counsel is established</h4>
         In February 2016, Dubai announced the Global Blockchain Council. The council currently consists of a wide range of members, including government entities, leading United Arab Emirates banks, blockchain technology firms and international companies such as IBM. This announcement was followed by the creation of Dubai Future Accelerators, a program that “brings together the best companies, entrepreneurs and government entities, who understand global challenges and invest in breakthrough technologies.”
         <h4 class="ibm-h2">Dubai blockchain proof of concepts are unveiled</h4>
         Blockchain is a relatively new technology, so it has to be thoroughly researched and tested before being put into production. At an industry conference in May 2016, the Global Blockchain Council disclosed plans for seven proof of concepts.
         <ol>
            <li>Digitize health records on blockchain to provide patients and care providers with secure access to medical data.</li>
            <li>Digitize and transfer Kimberley certificates on blockchain to secure the diamond trade.</li>
            <li>Transfer titles of illiquid assets on blockchain to increase trade efficiency.</li>
            <li>Streamline ID verification to reduce business registration times.</li>
            <li>Use blockchain-based wills and contracts to ease transfer of ownership.</li>
            <li>Boost tourism in Dubai through a blockchain-based program that would allow visitors to better earn and spend loyalty points.</li>
            <li>Apply blockchain to trade finance to more effectively exchange goods and the financing for those goods.</li>
         </ol>
         As you can see, there are many different areas in which blockchain can be used to transform traditional processes
         <h4 class="ibm-h2">Dubai’s blockchain strategy is launched</h4>
         Dubai’s leaders are invested in blockchain and believe it will be a key component in maintaining a competitive edge.
         Following this belief, H.H. Sheikh Hamdan bin Mohammed bin Rashid Al Maktoum, Dubai Crown Prince and Chairman of the Board of Trustees of Dubai Future Foundation, reinforced Dubai’s position as a global leader in transforming digital enterprise when he announced Dubai's blockchain strategy in October 2016. Dubai Future Foundation oversees the strategy and Smart Dubai Office is the executive arm. In addition to the goal of using blockchain for all relevant government documents by 2020, the strategy has three main objectives: government efficiency, industry creation and international leadership.
         <h4 class="ibm-h2">The city of Dubai and IBM’s collaboration</h4>
         Dubai recognizes how collaboration is vital when developing with new technologies. This February, it was announced that IBM would be working together with eight organizations across three countries to test blockchain technology for tracking the import and export of goods into Dubai. The solution aims to replace paper-based contracts through the use of smart contracts and to harmonize the trade finance lifecycle within a single platform.
         On the technical side, the solution is using Hyperledger Fabric and IBM Cloud to provide stakeholders with real-time shipment data and leveraging Watson IoT for device-reported data to update and validate the smart contracts.
         <h4 class="ibm-h2">City-wide blockchain pilot is revealed</h4>
         The most recent step in Dubai’s journey was revealed last month. It is a city wide pilot to implement blockchain technology in city services. The goal is to offer government services on interoperable blockchains and create a cohesive ecosystem that can dramatically reduce wasted time, effort and resources. Dubai government entities, such as the Road and Transport Authority (RTA), organized innovation labs that included CEOs, representatives of Smart Dubai Office and Dubai Future Foundation, and experts specialized in blockchain technology such as IBM and Banco Santander, to define the impact on the RTA strategy and ideate for relevant use cases .
         The Smart Dubai Office is embarking on the effort in collaboration with IBM as the lead strategic partner for blockchain. IBM was selected after a competitive and rigorous process, during which the company demonstrated deep technical expertise and a strong commitment to support the development of the technology towards interoperability.
         <h4 class="ibm-h2">What will the future bring?</h4>
         These projects as well as others show Dubai’s dedication and drive to create an institutional framework within the region. This will enable Dubai’s leaders to facilitate the expansion of blockchain technology throughout many of their sectors. They are well on their way to making blockchain a reality.
         What will you be doing in 2020 when Dubai completes this mission? Will you still be wondering what blochain is or will you be leading the charge at your enterprise? Find out how you can get started with blockchain here .
      </div> -->
   </div>
</section>
<!-- <div>
   <div class="container clearfix">
      <div class="heading-block center">
         <h2></h2>
         &nbsp;
      </div>
      <div class="col_one_third nobottommargin">
         <div class="feature-box media-box">
            <div class="my-team"><img class="alignnone size-large wp-image-454" src="/static/home/images/1_wPVRiul_p7KNuc1H36_TyA-1024x819.jpeg" alt="" width="1024" height="819"></div>
            <div class="fbox-desc center">
               <p style="text-align: justify;"></p>
            </div>
         </div>
      </div>
      <div class="col_one_third nobottommargin">
         <div class="feature-box media-box">
            <div class="my-team"><img class="alignnone size-full wp-image-455" src="/static/home/images/1_xa1EBXEmrwx1eZt1r_P5aQ.jpeg" alt="" width="700" height="410"></div>
            <div class="fbox-desc center">
               <h3></h3>
               <p style="text-align: justify;"></p>
            </div>
         </div>
      </div>
      <div class="col_one_third nobottommargin col_last">
         <div class="feature-box media-box">
            <div class="my-team"><img class="alignnone size-full wp-image-456" src="/static/home/images/fintech-blockchain-innovation-summit.png" alt="" width="501" height="327"></div>
            <h3 style="text-align: center;"></h3>
            <p style="text-align: justify;"></p>
         </div>
      </div>
      <div style="clear: both;"></div>
      <div class="col_one_third nobottommargin">
         <div class="feature-box media-box">
            <div class="my-team"><img class="alignnone size-full wp-image-461" src="/static/home/images/Screen-Shot-2018-07-06-at-3.44.24-PM.png" alt="" width="510" height="661"></div>
            <div class="fbox-desc center">
               <h3></h3>
               <p style="text-align: justify;"></p>
            </div>
         </div>
      </div>
      <div class="col_one_third nobottommargin">
         <div class="feature-box media-box">
            <div class="my-team"><img class="alignnone size-full wp-image-462" src="/static/home/images/Screen-Shot-2018-05-01-at-11.43.47-AM.png" alt="" width="508" height="659"></div>
            <div class="fbox-desc center">
               <h3></h3>
               <p style="text-align: justify;"></p>
            </div>
         </div>
      </div>
      <div class="col_one_third nobottommargin col_last">
         <div class="feature-box media-box">
            <div class="my-team"><img class="alignnone size-full wp-image-463" src="/static/home/images/Screen-Shot-2018-08-15-at-11.13.49.png" alt="" width="860" height="594"></div>
            <h3 style="text-align: center;"></h3>
            <p style="text-align: justify;"></p>
         </div>
      </div>
      <div style="clear: both;"></div>
      <div class="col_one_third nobottommargin">
         <div class="feature-box media-box">
            <div class="my-team"><img class="alignnone size-full wp-image-457" src="/static/home/images/fob-740x479.jpg" alt="" width="738" height="391"></div>
            <div class="fbox-desc center">
               <h3></h3>
               <p style="text-align: justify;"></p>
            </div>
         </div>
      </div>
      <div class="col_one_third nobottommargin">
         <div class="feature-box media-box">
            <div class="my-team"><img class="alignnone size-large wp-image-458" src="/static/home/images/maxresdefault-1024x576.jpg" alt="" width="1024" height="576"></div>
            <div class="fbox-desc center">
               <h3></h3>
               <p style="text-align: justify;">BLOCKCHAIN EVENTS&nbsp; AROUND THE WORLD</p>
            </div>
         </div>
      </div>
      <div class="col_one_third nobottommargin col_last">
         <div class="feature-box media-box">
            <div class="my-team"><img class="alignnone size-full wp-image-459" src="/static/home/images/GGV_205511-960x466.jpg" alt="" width="960" height="466"></div>
            <h3 style="text-align: center;"></h3>
            <p style="text-align: justify;"></p>
         </div>
      </div>
      <div style="clear: both;"></div>
   </div>
</div> -->
<!-- <section id="content" style="overflow: visible; margin-top: 20px;">
   <div class="container clearfix">
      <div class="owl-carousel owl-theme">
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-361" src="/static/home/images/photo_2018-07-10_11-46-22.jpg" alt="" width="668" height="599">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-369" src="/static/home/images/photo_2018-07-13_13-04-13-1.jpg" alt="" width="681" height="699">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-362" src="/static/home/images/photo_2018-07-13_13-00-45.jpg" alt="" width="891" height="557">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-361" src="/static/home/images/photo_2018-07-10_11-46-22.jpg" alt="" width="668" height="599">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>   
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-363" src="/static/home/images/photo_2018-07-13_13-04-13.jpg" alt="" width="683" height="761">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
             <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-362" src="/static/home/images/photo_2018-07-13_13-00-45.jpg" alt="" width="891" height="557">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-361" src="/static/home/images/photo_2018-07-10_11-46-22.jpg" alt="" width="668" height="599">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-363" src="/static/home/images/photo_2018-07-13_13-04-13.jpg" alt="" width="683" height="761">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-55" src="/static/home/images/1385017_348385561974005_995255637_n.jpg" alt="" width="960" height="639">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-363" src="/static/home/images/photo_2018-07-13_13-04-13.jpg" alt="" width="683" height="761">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-362" src="/static/home/images/photo_2018-07-13_13-00-45.jpg" alt="" width="891" height="557">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-361" src="/static/home/images/photo_2018-07-10_11-46-22.jpg" alt="" width="668" height="599">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>

         
      </div>
      
   </div>
</section> -->
{% endblock %}