{% extends "layout_home.html" %}
{% block title %}Contact US{% endblock %}
{% block main %}
<section id="slider">
<div class="container clearfix">
<div class="col-md-8 slider-overlay marketing" style="height: 310px;"></div>
</div>
</section>

<section id="content" style="margin-bottom: 0px;">
<div class="content-wrap">
<div class="container clearfix">
<div class="heading-block center">
<div id="section-buy" class="heading-block title-center nobottomborder page-section">
<h2 id="text">CONTACT US</h2>
&nbsp;
<!-- <div class="row" style="text-align: center;"><i class="fa fa-map-marker"></i> SRILANKA : 96/1A MakolaSouth, Makola, Srilanka</div> -->
<!-- <div class="row" style="text-align: center;"><i class="fa fa-map-marker"></i> DUBAI : Bay Square Building , Unit - 204 , Business Bay , Dubai , UAE</div>
<div class="row" style="text-align: center;"><i class="fa fa-map-marker"></i> SINGAPORE : Ayer Rajah Crescent #03-25 ,Singapore 139949</div> -->
<div class="row" style="text-align: center;"><i class="fa fa-envelope"></i>Email : support@diamondcapital.co</div>
<!-- <div style="text-align: center;"><b>Hotline : +94 72 310 2900</b></div> -->
<div>
<!-- <div class="row img_op topmargin nobottommargin center"><img class="img-responsive" src="/static/home/images/Screen-Shot-2018-08-12-at-21.50.47.png" alt=""></div> -->
</div>
</div>
</div>
</div>
</div>
</section>
{% endblock %}