{% extends "layout_home.html" %}
{% block title %}Dubai {% endblock %}
{% block main %}
<section id="slider" style="margin-top: 0px; padding: 0px;"><img class="aligncenter wp-image-204 size-full" src="/static/home/images/374820627626351121banner-5.jpg" alt="" width="" height=""></section>
<section id="content" style="overflow: visible; margin-bottom: 0px;">
   <div class="container clearfix">
      <h3 class="container clearfix" style="text-align: center;"></h3>
      <div class="row img_op"><img class="img-responsive" src="/static/home/images/1829917578banner-3.jpg" alt=""></div>
   </div>
</section>
<section id="content" style="overflow: visible;">
   <div class="container clearfix">
      <div class="heading-block center">
         <h4>AmarI RESORT</h4>
      </div>
      <div class="row img_op"><img class="img-responsive" src="/static/home/images/631524b2c05b9056b69e80b5794843c0.jpg" alt=""></div>
   </div>
</section>
<section id="content" style="overflow: visible;">
   <div class="container clearfix">
      <div class="heading-block center">
         <h4>Meydan Hotel, Dubai</h4>
      </div>
      <div class="row img_op"><img class="img-responsive" src="/static/home/images/44c7f50a4181acb4a969d907dda5f067-1024x438.jpg" alt=""></div>
   </div>
</section>
<div class="row img_op"></div>
<section id="content" style="overflow: visible;">
   <div class="container clearfix">
      <div class="row img_op"><img class="img-responsive" src="/static/home/images/32ce3abfb7eacf1a8299bee9ce2345c0-1024x438.jpg" alt=""></div>
      <div></div>
      <div class="row img_op"><img class="img-responsive" src="/static/home/images/631524b2c05b9056b69e80b5794843c0.jpg18521989af9eef664638a4e60d4dc376.jpg" alt=""></div>
   </div>
</section>
<h4 style="text-align: center;"><span style="color: #000000;">SHOPPING MALL</span></h4>
<section id="content" style="overflow: visible; margin-top: 20px;">
   <div class="container clearfix">
      <div class="owl-carousel owl-theme">
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-253" src="/static/home/images/Screen-Shot-2018-08-01-at-16.33.48-1.png" alt="" width="530" height="392">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-263" src="/static/home/images/Screen-Shot-2018-08-01-at-16.36.29-1.png" alt="" width="528" height="386">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-254" src="/static/home/images/Screen-Shot-2018-08-01-at-16.34.00-1.png" alt="">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-256" src="/static/home/images/Screen-Shot-2018-08-01-at-16.34.34-1.png" alt="">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-255" src="/static/home/images/Screen-Shot-2018-08-01-at-16.34.12-1.png" alt="">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-252" src="/static/home/images/Screen-Shot-2018-08-01-at-16.33.37-1.png" alt="">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone wp-image-262 size-full" src="/static/home/images/Screen-Shot-2018-08-01-at-16.36.14-1.png" alt="">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-261" src="/static/home/images/Screen-Shot-2018-08-01-at-16.36.02-1.png" alt="">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-262" src="/static/home/images/Screen-Shot-2018-08-01-at-16.36.14-1.png" alt="">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
             <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone wp-image-258 size-full" src="/static/home/images/Screen-Shot-2018-08-01-at-16.35.22-1.png" alt="">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone wp-image-265 size-full" src="/static/home/images/Screen-Shot-2018-08-12-at-16.31.20.png" alt="">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone wp-image-260 size-full" src="/static/home/images/Screen-Shot-2018-08-01-at-16.35.51-1.png" alt="">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
      </div>
      
   </div>
</section>
{% endblock %}