{% extends "layout_home.html" %}
{% block title %}Home {% endblock %}
{% block main %}


<!-- 
<section id="page-title" class="page-title-parallax page-title-dark" style="padding: 0;">
   <div class="image-overlay"><img class="alignnone size-large wp-image-525" src="/static/home/images/photo_2018-08-17_15-31-55.jpg" alt=""></div>
</section>
<section id="content" style="margin-bottom: 0px;">
   <div class="works-section" data-stellar-background-ratio="0.4" style="background-position: 50% -156px;">
      <div class="container clearfix">
         <div class="heading-block center">
            <h2 id="text" style="color: #fff;">The System is simple and easy.</h2>
         </div>
      </div>
   </div>
   <div class="spacer"></div>
   <div class="container clearfix">
      <div class="bottommargin-lg"></div>
      <div class="heading-block center">
         <h2 id="text">&nbsp;SIMPLE WAYS TO GET PAID</h2>
      </div>
   </div>
   <div class="container clearfix">
      <div class="col_two_third topmargin-sm">
         <div class="heading-block fancy-title nobottomborder title-bottom-border">
            <h4 class="noborder">Complete Daily Tasks.</h4>
         </div>
         Perform some easy tasks daily and get paid on successful completion.
      </div>
      <div class="col_full">
         <div class="heading-block fancy-title nobottomborder title-bottom-border">
            <h4 class="noborder">investment Profit</h4>
         </div>

         <p>Updating</p>
         <p>Please contact our support@diamondcapital.co for more futher Or contact our agency.</p>
         
      </div>
      <div class="col_full">
         <div class="heading-block fancy-title nobottomborder title-bottom-border">
            &nbsp;
            <div class="row img_op topmargin nobottommargin center"><img class="alignnone size-large wp-image-374" src="/static/home/images/Screen-Shot-2018-08-13-at-20.08.50.png" alt=""></div>
            <div class="row img_op topmargin nobottommargin center"><img class="alignnone size-large wp-image-375" src="/static/home/images/Screen-Shot-2018-08-13-at-20.09.13.png" alt=""></div>
            &nbsp;
            <h4 class="noborder"></h4>
         </div>
         <div class="row img_op topmargin nobottommargin center"><img class="alignnone size-large wp-image-376" src="/static/home/images/Screen-Shot-2018-08-13-at-20.09.43.png" alt=""></div>
         <p style="padding-bottom: 0px; margin: 0px;">Obviously, the more you refer, the more you earn- It’s totally optional.</p>
         <ul style="list-style: none; padding: 0px; margin: 0px;">
            <li>Imagine getting paid when someone 10 levels deep in your team</li>
         </ul>
      </div>
   </div>
   <div class="container clearfix">
      <div class="heading-block center">
         <div class="line"></div>
         <h3></h3>
      </div>
      <div class="col_full nobottommargin"><img class="alignnone size-large wp-image-527" src="/static/home/images/photo_2018-08-17_15-25-16.jpg" alt=""></div>
   </div>
   <div class="disclaimer-section">
      <div class="container clearfix">
         <div class="heading-block nobottommargin center">
            <h3 style="color: red;">Disclaimer</h3>
         </div>
         <div class="col_full">
            <h4 style="color: #fff;">We at Diamond Capital Investments do not make any claim as to how much money you will or can make. Your success with Diamond Capital Investments depends solely on your efforts and your ability to use the system correctly. Diamond Capital Investments is not liable for your success or lack thereof. We at Diamond Capital Investments have every confidence that you can be successful, however to what degree depends on you alone.</h4>
         </div>
      </div>
   </div>
</section>

<section id="page-title" class="page-title-parallax page-title-dark" style="padding: 0;">
   <div class="image-overlay"><img style="width: 100%" class="alignnone size-large wp-image-525" src="/static/home/images/1-18.png" alt=""></div>
</section> -->
{% endblock %}