{% extends "layout_home.html" %}
{% block title %}Home {% endblock %}

{% block main %}
<section id="slider">
   <div class="container clearfix">
      <div class="col-md-8 slider-overlay marketing" style="height: 310px;"></div>
   </div>
</section>
<section id="content" style="overflow: visible;">
            <div class="promo promo-dark promo-full landing-promo header-stick">
               <div class="container clearfix">
                  <h3 style="width: 100%;"><span style="float: left;">Let our advisors help you reach the goals you have.</span> <a id="more" style="float: left;" href="/howitworks.aspx">Know more..</a></h3>
               </div>
            </div>
            <div class="spacer"></div>
            <div class="container clearfix">
               <div class="col_one_fifth nobottommargin"><img class="img-responsive" src="/static/home/images/slide-show-6-1.jpg" alt="" /></div>
               <div class="col_one_fifth nobottommargin"><img class="img-responsive" src="/static/home/images/lakfm.jpg" alt="" /></div>
               <div class="col_one_fifth nobottommargin"><img class="img-responsive" src="/static/home/images/slide-show-5-1-2.jpg" alt="" /></div>
               <div class="col_one_fifth nobottommargin"><img class="img-responsive" src="/static/home/images/slide-show-4-2.jpg" alt="" /></div>
               <div class="col_one_fifth nobottommargin"><img class="img-responsive" src="/static/home/images/slide-show-furniture-1.jpg" alt="" /></div>
            </div>
            <div class="container clearfix">
               <div class="line"></div>
               <h1 class="heading-block center"><span style="color: #1d67c2;"><strong>INVEST IN THE FUTURE</strong></span><span style="color: #1d67c2;"><strong>LIVING YOUR DREAM !</strong></span></h1>

               <div class="col-md-3 col-sm-6">
                  <div class="oc-item">
                     <div class="iportfolio">
                        <div class="portfolio-image">
                           <a href="https://www.diamondcapital.co/portfolio-single.aspx">
                           <img class="alignnone size-full wp-image-510" src="/static/home/images/photo_2018-08-16_15-10-07-3.jpg" alt="" width="776" height="776" />
                           </a>
                           <div class="portfolio-overlay"></div>
                        </div>
                        <div class="portfolio-desc center">
                           <h3></h3>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-md-3 col-sm-6">
                  <div class="oc-item">
                     <div class="iportfolio">
                        <div class="portfolio-image">
                           <a href="https://www.diamondcapital.co/portfolio-single.aspx">
                           <img class="alignnone size-full wp-image-511" src="/static/home/images/photo_2018-08-16_15-10-07-4.jpg" alt="" width="776" height="776" />
                           </a>
                           <div class="portfolio-overlay"></div>
                        </div>
                        <div class="portfolio-desc center">
                           <h3></h3>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-md-3 col-sm-6">
                  <div class="oc-item">
                     <div class="iportfolio">
                        <div class="portfolio-image">
                           <a>
                           <img class="alignnone size-full wp-image-512" src="/static/home/images/photo_2018-08-16_15-10-07-2.jpg" alt="" width="776" height="776" />
                           </a>
                           <div class="portfolio-overlay"></div>
                        </div>
                        <div class="portfolio-desc center">
                           <h3></h3>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-md-3 col-sm-6">
                  <div class="oc-item">
                     <div class="iportfolio">
                        <div class="portfolio-image">
                           <a href="https://www.diamondcapital.co/portfolio-single.aspx">
                           <img class="alignnone size-full wp-image-513" src="/static/home/images/photo_2018-08-16_15-10-07.jpg" alt="" width="776" height="776" />
                           </a>
                           <div class="portfolio-overlay"></div>
                        </div>
                        <div class="portfolio-desc center">
                           <h3></h3>
                        </div>
                     </div>
                  </div>
               </div>

               
            </div>
            <section id="content" style="margin-bottom: 0px; background: url('/static/home/images/photo_2018-08-14_15-33-18.jpg') no-repeat; background-size: cover;">
               <div class="container clear-bottommargin clearfix">
                  <div class="row" style="height: 600px;"></div>
               </div>
            </section>
            <!-- <div class="section">
               <div class="container clear-bottommargin clearfix">
                  <div class="row">
                     <div class="container clearfix">
                        <div class="col_one_fourth nobottommargin">
                           <div class="feature-box fbox-plain fbox-small fbox-dark fadeInRight animated feature_home" data-animate="fadeInRight">
                              <img class="img-responsive" src="/static/home/images/Screen-Shot-2018-08-14-at-17.57.38-1.png" alt="" width="228" height="206" />
                              <h3><strong><span style="color: #1d67c2;">CAPITAL MARKETS</span></strong></h3>
                           </div>
                        </div>
                        <div class="col_one_fourth nobottommargin">
                           <div class="feature-box fbox-plain fbox-small fbox-dark fadeInRight animated feature_home" data-animate="fadeInRight">
                              <img class="img-responsive" src="/static/home/images/Screen-Shot-2018-08-14-at-17.58.05.png" alt="" />
                              <h3><strong><span style="color: #1d67c2;">blockchain</span></strong></h3>
                           </div>
                        </div>
                        <div class="col_one_fourth nobottommargin">
                           <div class="feature-box fbox-plain fbox-small fbox-dark fadeInRight animated feature_home" data-animate="fadeInRight">
                              <img class="img-responsive" src="/static/home/images/Screen-Shot-2018-08-14-at-17.58.21.png" alt="" />
                              <h3><strong><span style="color: #1d67c2;">technology advisory</span></strong></h3>
                           </div>
                        </div>
                        <div class="col_one_fourth nobottommargin">
                           <div class="feature-box fbox-plain fbox-small fbox-dark fadeInRight animated feature_home" data-animate="fadeInRight">
                              <img class="img-responsive" src="/static/home/images/Screen-Shot-2018-08-14-at-17.58.29.png" alt="" />
                              <h3><span style="color: #1d67c2;"><strong>finance &amp; risk</strong></span></h3>
                              &nbsp;
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div> -->
            <div class="container clearfix">
               <div class="heading-block center">
                  <h3><span style="color: #1d67c2;"><strong>PLANNING FINANCIAL FUTURES</strong></span></h3>
               </div>
               <img class="alignnone wp-image-198 size-medium alignright" src="/static/home/images/accounts-receivables-300x200.jpg" alt="" width="300" height="200" />Diamond Capital Investments is a full-service financial consulting firm dedicated to helping our clients build wealth and protect their hard-earned assets. Our firm is completely independent, so our loyalty belongs exclusively to our clients - not a parent company.
               Independence enables us to establish working relationships with a number of industry-leading brokerage firms and insurance providers whose products and services we leverage to create customized client portfolios and programs. This approach helps to ensure that you receive objective unbiased advice that fits your particular needs and situation, not some hidden agenda.
               Diamond Capital Investments offers a broad range of services to affluent individuals and families ranging from a focused review of a particular planning need to the preparation of a comprehensive financial plan. We can identify and tailor solutions for your full spectrum of financial goals.
               Reaching your long-term financial objectives hinges on having the right plan - one that fits your unique circumstances and grows with you.
            </div>
         </section>
         <section id="content" style="overflow: visible; margin-top: 20px;">
            <div class="container clearfix">
               <div id="oc-portfolio" class="owl-carousel portfolio-carousel portfolio-nomargin carousel-widget" data-margin="1" data-pagi="false" data-autoplay="5000" data-items-xxs="1" data-items-xs="2" data-items-sm="3" data-items-lg="4">
                  <div class="oc-item">
                     <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-438" src="/static/home/images/Screen-Shot-2018-08-14-at-18.09.40.png" alt="" width="764" height="492" />
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
                  </div>
                  <div class="oc-item">
                     <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-439" src="/static/home/images/Screen-Shot-2018-08-14-at-18.09.22.png" alt="" width="776" height="500" />
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
                  </div>
                  <div class="oc-item">
                     <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-412" src="/static/home/images/Screen-Shot-2018-08-14-at-16.48.57.png" alt="" width="1012" height="640" />
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
                  </div>
                  <div class="oc-item">
                     <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-441" src="/static/home/images/Screen-Shot-2018-08-14-at-18.08.33.png" alt="" width="766" height="486" />
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
                  </div>
                  <div class="oc-item">
                     <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-402" src="/static/home/images/Blockchain-Image-for-Press-Release.jpg" alt="" width="960" height="637" />
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section id="content" style="overflow: visible;">
            <div class="container clearfix">
               <div class="heading-block center">
                  <div class="line bottommargin-lg"></div>
                  <div id="section-buy" class="heading-block title-center nobottomborder page-section">
                     <h1 id="text"><strong><span style="color: #1d67c2;">WHY US!</span></strong></h1>
                     <h2><strong><span style="color: #1d67c2;">A Financial Partner You Can Depend On</span></strong></h2>
                     For those businesses seeking financial assistance they can depend on, securing a financing company with extensive industry experience is paramount to continued success. That's why so many put their trust in Diamond Capital Investment when in search of business investment . Our commercial finance programs can help your business achieve important goals.
                     We have the highest quality of innovation in technology with systems that support you in your business to program, that run automatically to make you money so you don’t even have to think about it!
                  </div>
                  <!-- <div class="center"><a class="button button-3d button-teal button-xlarge nobottommargin" href="/howitworks.aspx" data-animate="tada">How It Works?</a> - OR - <a class="button button-3d button-red button-xlarge nobottommargin join" href="/auth/login">Login Now</a></div> -->
               </div>
            </div>
            <!-- <div class="container clearfix">
               <div class="heading-block center">
                  <div class="bottommargin-lg"></div>
                  <h3 id="text"><span style="color: #1d67c2;">OUR PAYMENT PARTNERS</span></h3>
               </div>
               <div id="oc-clients" class="owl-carousel owl-carousel-full image-carousel carousel-widget" style="padding: 20px 0;" data-margin="30" data-loop="true" data-nav="false" data-autoplay="5000" data-pagi="false" data-items-xxs="2" data-items-xs="3" data-items-sm="4" data-items-md="5" data-items-lg="6">
                  <div class="oc-item"><img class="alignnone size-full wp-image-515" src="/static/home/images/photo_2018-08-17_11-43-41-5.jpg" alt="" width="308" height="95" /></div>
                  <div class="oc-item"><img class="alignnone size-full wp-image-516" src="/static/home/images/photo_2018-08-17_11-43-41-2.jpg" alt="" width="308" height="95" /></div>
                  <div class="oc-item"><img class="alignnone size-full wp-image-517" src="/static/home/images/photo_2018-08-17_11-43-41-3.jpg" alt="" width="308" height="95" /></div>
                  <div class="oc-item"><img class="alignnone size-full wp-image-518" src="/static/home/images/photo_2018-08-17_11-43-41-6.jpg" alt="" width="307" height="94" /></div>
                  <div class="oc-item"><img class="alignnone size-full wp-image-519" src="/static/home/images/photo_2018-08-17_11-43-41.jpg" alt="" width="308" height="95" /></div>
                  <div class="oc-item"><img class="alignnone size-full wp-image-520" src="/static/home/images/photo_2018-08-17_11-43-41-4.jpg" alt="" width="307" height="94" /></div>
               </div>
            </div> -->
         </section>

{% endblock %}