{% extends "layout_home.html" %}
{% block title %}Investment {% endblock %}
{% block main %}
<section id="slider" class="slider3">
   <div class="container clearfix">
      <div class="col-md-8 slider-overlay marketing" style="height: 310px;"></div>
   </div>
</section>
<!-- <section id="content" style="margin-bottom: 0px;">
   <div class="content-wrap">
      <div class="container clearfix">
         <div class="heading-block center">
            <div id="section-buy" class="heading-block title-center nobottomborder page-section">
               <span style="color: #0f1431; font-family: Raleway, sans-serif; font-size: 32px; font-weight: bold; letter-spacing: 1px; text-transform: uppercase; background-color: initial;">Packgage</span>
            </div>
         </div>
      </div>
      <div>
         <div class="container clearfix">
            <div class="col_one_third nobottommargin">
               <div class="feature-box media-box">
                  <div class="my-team"><img class="img-responsive" src="/static/home/images/package_1.png"></div>
                  <div class="fbox-desc center">
                     <h2 class="team-title">$100</h2>
                  </div>
               </div>
            </div>
            <div class="col_one_third nobottommargin">
               <div class="feature-box media-box">
                  <div class="my-team"><img class="img-responsive" src="/static/home/images/package_2.png"></div>
                  <div class="fbox-desc center">
                     <h2 class="team-title">$500</h2>
                  </div>
               </div>
            </div>
            <div class="col_one_third nobottommargin col_last">
               <div class="feature-box media-box">
                  <div class="my-team"><img class="img-responsive" src="/static/home/images/package_3.png"></div>
                  <div class="fbox-desc center">
                     <h2 class="team-title">$1,000</h2>
                  </div>
               </div>
            </div>
            
            <div class="col_one_third nobottommargin">
               <div class="feature-box media-box">
                  <div class="my-team"><img class="img-responsive" src="/static/home/images/package_4.png"></div>
                  <div class="fbox-desc center">
                     <h2 class="team-title">$3,000</h2>
                  </div>
               </div>
            </div>
            <div class="col_one_third nobottommargin">
               <div class="feature-box media-box">
                  <div class="my-team"><img class="img-responsive" src="/static/home/images/package_5.png"></div>
                  <div class="fbox-desc center">
                     <h2 class="team-title">$5,000</h2>
                  </div>
               </div>
            </div>
            <div class="col_one_third nobottommargin col_last">
               <div class="feature-box media-box">
                  <div class="my-team"><img class="img-responsive" src="/static/home/images/package_6.png"></div>
                  <div class="fbox-desc center">
                     <h2 class="team-title">$10,000</h2>
                  </div>
               </div>
            </div>
            
            <div class="col_one_third nobottommargin">
               <div class="feature-box media-box">
                  <div class="my-team"><img class="img-responsive" src="/static/home/images/package_7.png"></div>
                  <div class="fbox-desc center">
                     <h2 class="team-title">$30,000</h2>
                  </div>
               </div>
            </div>
            <div class="col_one_third nobottommargin">
               <div class="feature-box media-box">
                  <div class="my-team"><img class="img-responsive" src="/static/home/images/package_8.png"></div>
                  <div class="fbox-desc center">
                     <h2 class="team-title">$50,000</h2>
                  </div>
               </div>
            </div>
            <div class="col_one_third nobottommargin col_last">
               <div class="feature-box media-box">
                  <div class="my-team"><img class="img-responsive" src="/static/home/images/package_9.png"></div>
                  <div class="fbox-desc center">
                     <h2 class="team-title">$100,000</h2>
                  </div>
               </div>
            </div>
            
            <div class="col_one_third nobottommargin">
               <div class="feature-box media-box">
                  <div class="my-team"><img class="img-responsive" src="/static/home/images/package_10.png"></div>
                  <div class="fbox-desc center">
                     <h2 class="team-title">$500,000</h2>
                  </div>
               </div>
            </div>
            <div class="col_one_third nobottommargin">
               <div class="feature-box media-box">
                  <div class="my-team"><img class="img-responsive" src="/static/home/images/package_11.png"></div>
                  <div class="fbox-desc center">
                     <h2 class="team-title">$1,000,000</h2>
                  </div>
               </div>
            </div>
            
         </div>
      </div>
   </div>
</section> -->
<div class="container clearfix">
   <div class="heading-block center">
      <div id="section-buy" class="heading-block title-center nobottomborder page-section">

         <div style="clear: both;"></div>
         <h1 class="entry-title" style="text-align: left; padding: 0">INVESTMENT PHILOSOPHY</h1>
         <p style="text-align: left;">Hingurana Group Pvt Ltd is diversified business conglomerate that has been in the active business for more than a decade. Hingurana Group’s multifaceted business portfolio (Distillery, Broadcasting, Construction, Rice Production, Steel Manufacturing , Gypsum Furniture, Dairy Farm and Hotel Industries)</p>
         <p style="text-align: left;">Our approach to investing is comprised of acknowledging our strengths (e.g. alternative investments, fixed income) and knowing how to find the world’s most talented investment managers where we do not have the expertise. Here, we add significant value by providing unique access in an efficient and transparent manner.</p>
         <p style="text-align: left;">We perform in-depth evaluation and research about the merits of each investment opportunity before we take any investment decision, and we are independent of any financial institution. Understanding and managing downside risks is paramount to our assessment of investment opportunities. Finally, we will not accept new investor capital into our funds if we do not feel confident that this capital can be invested effectively.</p>
         <p style="text-align: left;">We offer a selection of investment classes via our funds, and each fund has its own investment objective and risk/reward profile:</p>

         <p style="text-align: left;"><b style="color: #0e239c">Fixed Income </b>funds include portfolios of bonds with attractive yields, and typically with a short duration. They aim to provide income (accumulating and/or distributing) and capital growth. We combine a bottom-up fundamental analysis through a deep understanding of issuer characteristics, underlying collateral, industry and competitive landscape with a top-down analysis connecting macro outlooks with portfolio positioning.</p>

         <p style="text-align: left;"><b style="color: #0e239c">Equity </b>funds offer a means of participating in some of the world’s most exciting stock markets . They focus mostly on long-term capital growth. Our fundamental equity strategy combines bottom-up research and macro-economic analysis, while our quant-based strategies combine deep and ongoing research with extensive market experience.</p>

         <p style="text-align: left;"><b style="color: #0e239c">Alternative Investments </b> funds provide access to a portfolio of skilled managers and investment strategies on a global basis. They aim to achieve long term capital appreciation with a low correlation to the markets. Having invested in the alternative investment space for decades, we have strong sourcing capabilities allowing us to identify uncorrelated managers providing the best risk/reward.</p>

         <p style="text-align: left;"><b style="color: #0e239c">Short Term Investments </b> Short Term investments are focused on quick returns with risk free advantages</p>

         
         <div class="heading-block center">
            <div id="section-buy" class="heading-block title-center nobottomborder page-section">
               
               
            </div>
         </div>
         
         <p style="color: #0e239c; margin-top: 30px; text-align: left;font-weight: bold;font-size: 14px;padding: 0px">Referral and broker program</p>
         <p style="text-align: left;">At diamond capital investments , we welcome submissions from all brokers and referrals. We have the resources to support projects of any size and we’ll give you top referral and commission rates for any deals we fund. When you work with us, proper attention will be paid to you and your client.</p>

         <p style="color: #0e239c; margin-top: 20px; text-align: left;font-weight: bold;font-size: 14px;padding: 0px">Move forward with your career</p>
         <p style="text-align: left;">When you do the “footwork” and secure a good deal, you don’t want it to stagnate because of funding. We offer you the chance to work with other motivated professionals to accomplish mutual goals. At our company, we foster motivated individuals who want to take things to the next level.</p>

         <p style="color: #0e239c; margin-top: 20px; text-align: left;font-weight: bold;font-size: 14px;padding: 0px">Direct contact for large transactions</p>
         <p style="text-align: left;">For large transactions, we prefer to work directly with you and your client. With close contact, miscommunications and mishaps are much less likely. At diamond capital investments, our financial professionals are dedicated to the best quality services and bigger deals need increased support.</p>

         <p style="color: #0e239c; margin-top: 20px; text-align: left;font-weight: bold;font-size: 14px;padding: 0px">Your deal is your deal</p>
         <p style="text-align: left;">When you bring your deal into our company, it will remain your deal. Even if we didn’t fund your client and they come to us at a later date, we will gladly refer them to your offices. In business, good relationships make for successful partnerships so we make a point to always protect brokers and referrals.</p>

         <p style="color: #0e239c; margin-top: 20px; text-align: left;font-weight: bold;font-size: 14px;padding: 0px">Diamond capital investments solutions broker program</p>
         <p style="text-align: left;">We have open positions in states across the country, but is our referral and broker program right for you? If you are an experienced and motivated broker who wants to take his or her career to the next level</p>

      </div>

      <section id="content" style="overflow: visible;">
   <div class="container clearfix">
      <div class="heading-block center">
         <h3 class="tb style572a4ce65578f01022517cae"><span style="color: #000080;"> 
INVESTORS ARE WELCOMED FROM ANY PART OF THE WORLD</span></h3>
      </div>
      <div class="row"><img class="img-responsive" style="font-size: 15px;width: 100%" src="/static/home/images/1-17.png" alt=""></div>
      <p class="text-right">Get in Touch with one of our Portfolio Managers</p>
      <p style="margin-top: 20px;"></p>
   </div>
</section>
      <div class="center"><a class="button button-3d button-teal button-xlarge nobottommargin not-animated" href="/howitworks.aspx" data-animate="tada"><i class="icon-star3"></i>How It Works?</a> - OR - <a class="button button-3d button-red button-xlarge nobottommargin" href="/system.aspx" data-scrollto="#section-pricing"><i class="icon-user2"></i>Login Now</a></div>
   </div>
</div>
{% endblock %}