{% extends "layout_home.html" %}
{% block title %}Other {% endblock %}
{% block main %}
<section id="slider" style="margin-top: 0px; padding: 0px;"><img class="alignnone size-large wp-image-319" src="/static/home/images/about-1024x309.jpg" alt="" width="1024" height="309"></section>
<section id="content" style="overflow: visible; margin-bottom: 0px;">
   <div class="container clearfix">
      <div class="heading-block center">
         <h3></h3>
      </div>
      <h3 class="container clearfix" style="text-align: center;"></h3>
      <div class="row img_op"><img class="alignnone size-full wp-image-333" src="/static/home/images/coming-soon.png" alt="" width="791" height="359"></div>
      &nbsp;
   </div>
</section>
<!-- <section id="content" style="overflow: visible;">
   <div class="container clearfix">
      <div class="heading-block center">
         <h4 class="tb style572a4ce65578f01022517cae"></h4>
      </div>
      <div class="row img_op"><img class="alignnone size-large wp-image-321" src="/static/home/images/company-and-about-us_0-1024x265.jpg" alt="" width="1024" height="265"></div>
      &nbsp;
      &nbsp;
   </div>
</section>
<section id="content" style="overflow: visible;">
   <div class="container clearfix">
      <div class="heading-block center">
         <h4 class="tb style572a654346b13ca1ae88c426"></h4>
      </div>
      <div class="row img_op"></div>
      &nbsp;
   </div>
</section>
<section id="content" style="overflow: visible; margin-top: 20px;">
   <div class="container clearfix">
      <div class="owl-carousel owl-theme">
         <div class="item">
            <div class="iportfolio">
               <div class="portfolio-image">
                  <img class="alignnone size-full wp-image-412" src="/static/home/images/Screen-Shot-2018-08-14-at-16.48.57.png" alt="" width="1012" height="640">
                  <div class="portfolio-overlay"></div>
               </div>
               <div class="portfolio-desc center">
                  <h3></h3>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="iportfolio">
               <div class="iportfolio">
                  <div class="portfolio-image">
                     <img class="alignnone size-full wp-image-411" src="/static/home/images/Blockchain-article-1.jpg" alt="" width="747" height="424">
                     <div class="portfolio-overlay"></div>
                  </div>
                  <div class="portfolio-desc center">
                     <h3></h3>
                  </div>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="iportfolio">
               <div class="portfolio-image">
                  <img class="alignnone size-full wp-image-408" src="/static/home/images/shutterstock_790723873-1-copy.jpg" alt="" width="552" height="361">
                  <div class="portfolio-overlay"></div>
               </div>
               <div class="portfolio-desc center">
                  <h3></h3>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="iportfolio">
               <div class="portfolio-image">
                  <img class="alignnone size-full wp-image-402" src="/static/home/images/Blockchain-Image-for-Press-Release.jpg" alt="" width="960" height="637">
                  <div class="portfolio-overlay"></div>
               </div>
               <div class="portfolio-desc center">
                  <h3></h3>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="iportfolio">
               <div class="portfolio-image">
                  <img class="alignnone size-full wp-image-438" src="/static/home/images/Screen-Shot-2018-08-14-at-18.09.40.png" alt="" width="764" height="492">
                  <div class="portfolio-overlay"></div>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="iportfolio">
               <div class="portfolio-image">
                  <img class="alignnone size-full wp-image-439" src="/static/home/images/Screen-Shot-2018-08-14-at-18.09.22.png" alt="" width="776" height="500">
                  <div class="portfolio-overlay"></div>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="iportfolio">
               <div class="portfolio-image">
                  <img class="alignnone size-large wp-image-297" src="/static/home/images/blockchain-1-3-1024x512.jpg" alt="" width="1024" height="512">
                  <div class="portfolio-overlay"></div>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="iportfolio">
               <div class="portfolio-image">
                  <img class="alignnone size-full wp-image-241" src="/static/home/images/Slide18.jpeg" alt="" width="720" height="405">
                  <div class="portfolio-overlay"></div>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="iportfolio">
               <div class="portfolio-image">
                  <img class="alignnone size-large wp-image-24" src="/static/home/images/photo_2018-08-04_11-14-44-1024x640.jpg" alt="" width="1024" height="640">
                  <div class="portfolio-overlay"></div>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="iportfolio">
               <div class="portfolio-image">
                  <img class="alignnone size-large wp-image-23" src="/static/home/images/investor-relations-1024x640.jpg" alt="" width="1024" height="640">
                  <div class="portfolio-overlay"></div>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="iportfolio">
               <div class="portfolio-image">
                  <img class="alignnone size-large wp-image-444" src="/static/home/images/Screen-Shot-2018-08-14-at-16.47.48-1024x648.png" alt="" width="1024" height="648">
                  <div class="portfolio-overlay"></div>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="iportfolio">
               <div class="portfolio-image">
                  <img class="alignnone size-full wp-image-439" src="/static/home/images/Screen-Shot-2018-08-14-at-18.09.22.png" alt="" width="776" height="500">
                  <div class="portfolio-overlay"></div>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="iportfolio">
               <div class="portfolio-image">
                  <img class="alignnone size-full wp-image-412" src="/static/home/images/Screen-Shot-2018-08-14-at-16.48.57.png" alt="" width="1012" height="640">
                  <div class="portfolio-overlay"></div>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="iportfolio">
               <div class="portfolio-image">
                  <img class="alignnone size-full wp-image-411" src="/static/home/images/Blockchain-article-1.jpg" alt="" width="747" height="424">
                  <div class="portfolio-overlay"></div>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="iportfolio">
               <div class="portfolio-image">
                  <img class="alignnone size-large wp-image-404" src="/static/home/images/innovation-blockchain-1024x683.jpg" alt="" width="1024" height="683">
                  <div class="portfolio-overlay"></div>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="iportfolio">
               <div class="portfolio-image">
                  <img class="alignnone size-full wp-image-402" src="/static/home/images/Blockchain-Image-for-Press-Release.jpg" alt="" width="960" height="637">
                  <div class="portfolio-overlay"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section> -->
{% endblock %}