{% extends "layout_home.html" %}
{% block title %}HOTEL RESORT {% endblock %}
{% block main %}
<section id="slider" style="margin-top: 0px; padding: 0px;"><img class="alignnone size-large wp-image-297" src="/static/home/images/blockchain-1-3-1024x512.jpg" alt="" width="1024" height="512"></section>
<!-- <section id="content" style="overflow: visible; margin-bottom: 0px;">
<!-- <section id="content" style="overflow: visible; margin-bottom: 0px;">
   <div class="container clearfix">
      <div class="heading-block center">
         <h3></h3>
      </div>
      <div class="row img_op"><img class="img-responsive" src="/static/home/images/Screen-Shot-2018-08-12-at-14.47.33-1024x574.png" alt=""></div>
   </div>
</section> -->
<!-- <section id="content" style="overflow: visible;">
   <div class="container clearfix">
      <div class="heading-block center">
         <h4 class="tb style572a4ce65578f01022517cae"></h4>
      </div>
      <div class="row img_op"><img class="img-responsive" src="/static/home/images/Screen-Shot-2018-08-12-at-14.46.48-1024x575.png" alt=""></div>
   </div>
   &nbsp;
</section> -->
<section id="content" style="overflow: visible; margin-top: 50px;">
   <div class="container clearfix">
      <div class="heading-block center">
         <h4 style="text-align: left;"><strong>HOTEL RESORT</strong></h4>
         <ul style="list-style: none; text-align: left;">
            <li>- HOTEL & RESORT</li>
            <li>- APPARTMENT</li>
            <li>- MEDIA</li>
            <li>- INVESTMENT & TRADING DIAMOND</li>
            <li>- REAL ESTATE </li>
         </ul>
         
      </div>
      
      <div></div>
   </div>
   <div></div>
</section>

<section id="content" style="overflow: visible;">
   <div class="container clearfix">
      <div class="heading-block center">
         <h3 class="tb style572a4ce65578f01022517cae"><span style="color: #000080;">DIAMOND CAPITAL INVESTMENT</span></h3>
      </div>
      <div class="row"><img class="img-responsive" style="font-size: 15px;width: 100%" src="/static/home/images/1-9.png" alt=""></div>
      
   </div>
</section>

<section id="content" style="overflow: visible;">
   <div class="container clearfix">
      <div class="heading-block center">
         <h3 class="tb style572a4ce65578f01022517cae"><span style="color: #000080;"> 
LAK VIEW BROADCASTING (PVT) LTD</span></h3>
      </div>
      <div class="row"><img class="img-responsive" style="font-size: 15px;width: 100%" src="/static/home/images/1-10.png" alt=""></div>
      <p style="margin-top: 20px;">LAK VIEW BROADCASTING has been incepted in the year 2008, With a vision of filling the gap of Historic and Cultural importance in the community  of Sri Lanka with the launch of LAK FM . </p>
   </div>
</section>


<section id="content" style="overflow: visible;">
   <div class="container clearfix">
      <div class="heading-block center">
         <h3 class="tb style572a4ce65578f01022517cae"><span style="color: #000080;"> 
LAK AIR TRAVELS & TOURS PVT LTD</span></h3>
      </div>
      <div class="row"><img class="img-responsive" style="font-size: 15px;width: 100%" src="/static/home/images/1-11.png" alt=""></div>
      <p style="margin-top: 20px;"></p>
   </div>
</section>

<section id="content" style="overflow: visible;">
   <div class="container clearfix">
      <div class="heading-block center">
         <h3 class="tb style572a4ce65578f01022517cae"><span style="color: #000080;"> 
THE GRAND MOUNTAIN HOTEL</span></h3>
      </div>
      <div class="row"><img class="img-responsive" style="font-size: 15px;width: 100%" src="/static/home/images/1-12.png" alt=""></div>
      <p style="margin-top: 20px;"></p>
   </div>
</section>

<section id="content" style="overflow: visible;">
   <div class="container clearfix">
      <div class="heading-block center">
         <h3 class="tb style572a4ce65578f01022517cae"><span style="color: #000080;"> 
PROPOSED ELLA ROCK HOTEL</span></h3>
      </div>
      <div class="row"><img class="img-responsive" style="font-size: 15px;width: 100%" src="/static/home/images/1-13.png" alt=""></div>
      <p style="margin-top: 20px;"></p>
   </div>
</section>

<section id="content" style="overflow: visible;">
   <div class="container clearfix">
      <div class="heading-block center">
         <h3 class="tb style572a4ce65578f01022517cae"><span style="color: #000080;"> 
PROPOSED  HOTEL CRUISE  @ Negambo</span></h3>
      </div>
      <div class="row"><img class="img-responsive" style="font-size: 15px;width: 100%" src="/static/home/images/1-14.png" alt=""></div>
      <p style="margin-top: 20px;"></p>
   </div>
</section>

<section id="content" style="overflow: visible;">
   <div class="container clearfix">
      <div class="heading-block center">
         <h3 class="tb style572a4ce65578f01022517cae"><span style="color: #000080;"> 
PROPOSED NALANDA APARTMENTS</span></h3>
      </div>
      <div class="row"><img class="img-responsive" style="font-size: 15px;width: 100%" src="/static/home/images/1-15.png" alt=""></div>
      <p style="margin-top: 20px;"></p>
   </div>
</section>
<!-- <section id="content" style="overflow: visible;">
   <div class="container clearfix">
      <div class="heading-block center">
         <h4>AmarI RESORT</h4>
      </div>
      <div class="row img_op"><img class="img-responsive" src="/static/home/images/631524b2c05b9056b69e80b5794843c0.jpg" alt=""></div>
   </div>
</section>
<section id="content" style="overflow: visible;">
   <div class="container clearfix">
      <div class="heading-block center">
         <h4>Meydan Hotel, Dubai</h4>
      </div>
      <div class="row img_op"><img class="img-responsive" src="/static/home/images/44c7f50a4181acb4a969d907dda5f067-1024x438.jpg" alt=""></div>
   </div>
</section>
<div class="row img_op"></div>
<section id="content" style="overflow: visible;">
   <div class="container clearfix">
      <div class="row img_op"><img class="img-responsive" src="/static/home/images/32ce3abfb7eacf1a8299bee9ce2345c0-1024x438.jpg" alt=""></div>
      <div></div>
      <div class="row img_op"><img class="img-responsive" src="/static/home/images/631524b2c05b9056b69e80b5794843c0.jpg18521989af9eef664638a4e60d4dc376.jpg" alt=""></div>
   </div>
</section>
<section id="content" style="overflow: visible; margin-top: 20px;">
   <div class="container clearfix">
      <div class="owl-carousel owl-theme">
         <div class="item">
            <div class="iportfolio">
               <div class="portfolio-image">
                  <img class="alignnone size-full wp-image-412" src="/static/home/images/Screen-Shot-2018-08-14-at-16.48.57.png" alt="" width="1012" height="640">
                  <div class="portfolio-overlay"></div>
               </div>
               <div class="portfolio-desc center">
                  <h3></h3>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="iportfolio">
               <div class="iportfolio">
                  <div class="portfolio-image">
                     <img class="alignnone size-full wp-image-411" src="/static/home/images/Blockchain-article-1.jpg" alt="" width="747" height="424">
                     <div class="portfolio-overlay"></div>
                  </div>
                  <div class="portfolio-desc center">
                     <h3></h3>
                  </div>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="iportfolio">
               <div class="portfolio-image">
                  <img class="alignnone size-full wp-image-408" src="/static/home/images/shutterstock_790723873-1-copy.jpg" alt="" width="552" height="361">
                  <div class="portfolio-overlay"></div>
               </div>
               <div class="portfolio-desc center">
                  <h3></h3>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="iportfolio">
               <div class="portfolio-image">
                  <img class="alignnone size-full wp-image-402" src="/static/home/images/Blockchain-Image-for-Press-Release.jpg" alt="" width="960" height="637">
                  <div class="portfolio-overlay"></div>
               </div>
               <div class="portfolio-desc center">
                  <h3></h3>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="iportfolio">
               <div class="portfolio-image">
                  <img class="alignnone size-full wp-image-438" src="/static/home/images/Screen-Shot-2018-08-14-at-18.09.40.png" alt="" width="764" height="492">
                  <div class="portfolio-overlay"></div>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="iportfolio">
               <div class="portfolio-image">
                  <img class="alignnone size-full wp-image-439" src="/static/home/images/Screen-Shot-2018-08-14-at-18.09.22.png" alt="" width="776" height="500">
                  <div class="portfolio-overlay"></div>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="iportfolio">
               <div class="portfolio-image">
                  <img class="alignnone size-large wp-image-297" src="/static/home/images/blockchain-1-3-1024x512.jpg" alt="" width="1024" height="512">
                  <div class="portfolio-overlay"></div>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="iportfolio">
               <div class="portfolio-image">
                  <img class="alignnone size-full wp-image-241" src="/static/home/images/Slide18.jpeg" alt="" width="720" height="405">
                  <div class="portfolio-overlay"></div>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="iportfolio">
               <div class="portfolio-image">
                  <img class="alignnone size-large wp-image-24" src="/static/home/images/photo_2018-08-04_11-14-44-1024x640.jpg" alt="" width="1024" height="640">
                  <div class="portfolio-overlay"></div>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="iportfolio">
               <div class="portfolio-image">
                  <img class="alignnone size-large wp-image-23" src="/static/home/images/investor-relations-1024x640.jpg" alt="" width="1024" height="640">
                  <div class="portfolio-overlay"></div>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="iportfolio">
               <div class="portfolio-image">
                  <img class="alignnone size-large wp-image-444" src="/static/home/images/Screen-Shot-2018-08-14-at-16.47.48-1024x648.png" alt="" width="1024" height="648">
                  <div class="portfolio-overlay"></div>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="iportfolio">
               <div class="portfolio-image">
                  <img class="alignnone size-full wp-image-439" src="/static/home/images/Screen-Shot-2018-08-14-at-18.09.22.png" alt="" width="776" height="500">
                  <div class="portfolio-overlay"></div>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="iportfolio">
               <div class="portfolio-image">
                  <img class="alignnone size-full wp-image-412" src="/static/home/images/Screen-Shot-2018-08-14-at-16.48.57.png" alt="" width="1012" height="640">
                  <div class="portfolio-overlay"></div>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="iportfolio">
               <div class="portfolio-image">
                  <img class="alignnone size-full wp-image-411" src="/static/home/images/Blockchain-article-1.jpg" alt="" width="747" height="424">
                  <div class="portfolio-overlay"></div>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="iportfolio">
               <div class="portfolio-image">
                  <img class="alignnone size-large wp-image-404" src="/static/home/images/innovation-blockchain-1024x683.jpg" alt="" width="1024" height="683">
                  <div class="portfolio-overlay"></div>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="iportfolio">
               <div class="portfolio-image">
                  <img class="alignnone size-full wp-image-402" src="/static/home/images/Blockchain-Image-for-Press-Release.jpg" alt="" width="960" height="637">
                  <div class="portfolio-overlay"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section> -->
{% endblock %}