{% extends "layout_home.html" %}
{% block title %}MANUFACTURE {% endblock %}
{% block main %}
<section id="slider" style="margin-top: 0px; padding: 0px;"><img class="aligncenter wp-image-204 size-full" src="/static/home/images/374820627626351121banner-5.jpg" alt="" width="" height=""></section>
<style>
      .iportfolio .portfolio-image, .iportfolio .portfolio-image a, .iportfolio .portfolio-image img 
      {
         display: block;
         width: 100%;
         height: 350px;
         margin-bottom:50px;
      }
   </style>

<!-- <section id="slider" style="margin-top: 0px; padding: 0px;"><img class="aligncenter wp-image-204 size-full" src="/static/home/images/374820627626351121banner-5.jpg" alt="" width="" height=""></section> -->
<section id="content" style="overflow: visible; margin-bottom: 0px;">
   <div class="container clearfix">
      <div class="heading-block center">
         <h3></h3>
      </div>
      <h3 class="container clearfix" style="text-align: center;"><span style="color: #000080;"><span id="logo-lt">HINGURANA DISTILLERIES (HDL) – EST.2001</span></span></h3>
      <div class="row"><img class="img-responsive" src="/static/home/images/1-1.png" alt=""></div>
      
      <p style="margin-top: 20px">
      Hingurana Distilleries Private Limited is a pioneering distilleries Company in Sri Lanka Founded in 2001, approved by Department of Excise Sri Lanka and Ministry of Finance and Planning.HDL located near the Kelani River in Hanwella
      </p>
   </div>
   &nbsp;
</section>
<section id="content" style="overflow: visible;">
   <div class="container clearfix">
      <div class="heading-block center">
         <h3 class="tb style572a4ce65578f01022517cae"><span style="color: #000080;">LAK SAHAL - SRI LANKAN RICE MANUFACTURER & LATEST RICE MILL IN SRI LANKA</span></h3>
         
      </div>
      <div class="row"><img class="img-responsive" style="font-size: 15px;" src="/static/home/images/1-2.png" alt=""></div>
      <p style="margin-top: 20px;">Hingurana Agro Pvt Ltd is the largest rice and flour processing plant in Sri Lanka.
 With a capacity of 8MT/hr, It is equipped with German Technology Machinery.</p>
   </div>
</section>

<section id="content" style="overflow: visible;">
   <div class="container clearfix">
      <div class="heading-block center">
         <h3 class="tb style572a4ce65578f01022517cae"><span style="color: #000080;">HINGURANA DAIRY FARM</span></h3>
         
      </div>
      <div class="row"><img class="img-responsive" style="font-size: 15px;" src="/static/home/images/1-3.png" alt=""></div>
      <p style="margin-top: 20px;">HDF PVT LTD Started its operation from 2015 spread across 2 Acre Agricultural and Cattle feed in nature hub Matale.</p>
   </div>
</section>

<section id="content" style="overflow: visible;">
   <div class="container clearfix">
      <div class="heading-block center">
         <h3 class="tb style572a4ce65578f01022517cae"><span style="color: #000080;">LAKSTEEL ENGINEERING (PVT) LTD.</span></h3>
         
      </div>
      <div class="row"><img class="img-responsive" style="font-size: 15px;" src="/static/home/images/1-4.png" alt=""></div>
      <p style="margin-top: 20px;"> LAK STEEL ENGINEERING PVT LTD founded in 2010. The company offers products range in alloy coated steel (Galvalume /Zinc Aluminum) is manufactured by the company.</p>
   </div>
</section>

<section id="content" style="overflow: visible;">
   <div class="container clearfix">
      <div class="heading-block center">
         <h3 class="tb style572a4ce65578f01022517cae"><span style="color: #000080;">LAK GYPSUM - GYPSUM BOARDS MANUFACTURER IN SRI LANKA</span></h3>
         
      </div>
      <div class="row"><img class="img-responsive" style="font-size: 15px;" src="/static/home/images/1-5.png" alt=""></div>
      <p style="margin-top: 20px;"> LAK GYPSUM Pvt Ltd is the  First and  only company  
in its genre providing a wide range of House and  Commercial Interior Cladding and Ceiling  requirements for Sri Lanka and Asia. Its in Operation from 2016 and has crossed borders in Exports.</p>
   </div>
</section>


<section id="content" style="overflow: visible;">
   <div class="container clearfix">
      <div class="heading-block center">
         <h3 class="tb style572a4ce65578f01022517cae"><span style="color: #000080;">LAK BRAND FURNITURE 
SUPER QUALITY & DURABLE FURNITURE MANUFACTURER IN SRI LANKA</span></h3>
         
      </div>
      <div class="row"><img class="img-responsive" style="font-size: 15px;" src="/static/home/images/1-6.png" alt=""></div>
      <p style="margin-top: 20px;"> Lak Brand Furniture Pvt. Ltd  is one of the largest furniture factories in Sri Lanka, which has an area of 20,000 Square meters, specializing in star hotel furniture. The factory scale is expanding all the time. There are advanced machines with German technology  and the first 1,000 Square meters dust-free painting room in Sri Lanka. More ever, we have a group of international professional designers and experienced workers, which is key for us to grow stronger. We have laid strong foundation for  the future growth Domestic and International Market.</p>
   </div>
</section>

<section id="content" style="overflow: visible;">
   <div class="container clearfix">
      <div class="heading-block center">
         <h3 class="tb style572a4ce65578f01022517cae"><span style="color: #000080;">HINGURANA CONSTRUCTION PVT LTD</span></h3>
         
      </div>
      <div class="row"><img class="img-responsive" style="font-size: 15px; width: 100%" src="/static/home/images/1-7.png" alt=""></div>
      <p style="margin-top: 20px;"> Hingurana Construction Pvt Ltd incorporated in 2010 for the purpose in house  and external large scale commercial construction activities .Prime objective  has been focused on construction of Apartments and manufacturing and sales of robust construction materials. Have executed more than 100+ Projects.</p>
   </div>
</section>

<section id="content" style="overflow: visible;">
   <div class="container clearfix">
      <div class="heading-block center">
         <h3 class="tb style572a4ce65578f01022517cae"><span style="color: #000080;">SUPREME ANIMAL FEEDS PVT LTD</span></h3>
         
      </div>
      <div class="row"><img class="img-responsive" style="font-size: 15px; width: 100%" src="/static/home/images/1-8.png" alt=""></div>
      <p style="margin-top: 20px;">Supreme Animal Feeds Pvt Ltd focused in Animal Horticulture
It’s a latest addition to Hingurana Group in 2017.</p>
   </div>
</section>

<!-- <section id="content" style="overflow: visible; margin-top: 20px; margin-bottom: 50px" style="">
   <div class="container clearfix" style="">
      <div class="owl-carousel owl-theme">
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-273" src="/static/home/images/engineering-1.jpg" alt="" width="241" height="332">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-270" src="/static/home/images/agriculture-1.jpg" alt="" width="241" height="332">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-272" src="/static/home/images/distilaries-1.jpg" alt="" width="243" height="332">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-274" src="/static/home/images/furniture-1.jpg" alt="" width="243" height="332">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-277" src="/static/home/images/lak-fm-1.jpg" alt="" width="240" height="328">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>

         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-49" src="/static/home/images/gypsum.jpg" alt="" width="242" height="332">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-large wp-image-43" src="/static/home/images/19679017_1916053371997112_4473746899949768917_o-1024x827.jpg" alt="" width="1024" height="827">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-42" src="/static/home/images/engineering.jpg" alt="" width="241" height="332">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-46" src="/static/home/images/distilaries.jpg" alt="" width="243" height="332">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-large wp-image-354" src="/static/home/images/33686764_2103937983220511_3007404296149925888_o-2-784x1024.jpg" alt="" width="784" height="1024">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-351" src="/static/home/images/distllerires-banner-copy.jpg" alt="" width="521" height="561">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         <div class="item">
            <div class="iportfolio">
                        <div class="portfolio-image">
                           <img class="alignnone size-full wp-image-42" src="/static/home/images/engineering.jpg" alt="" width="241" height="332">
                           <div class="portfolio-overlay"></div>
                        </div>
                     </div>
         </div>
         
      </div>
      
   </div>
</section> -->
{% endblock %}