<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>The Best Token</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="envatoprime">
	<!-- faveicon -->
	<link rel="shortcut icon" href="static/img/logo.png">
	<!-- google font -->
	
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="static/home/css/bootstrap.min.css" type="text/css">
	<!-- killar carousel css -->
	<link rel="stylesheet" href="static/home/css/killercarousel.min.css">
	<!-- Owl carousel-->
	<link rel="stylesheet" href="static/home/css/owl.carousel.min.css">
	<!-- Venobox  Css -->
	<link rel="stylesheet" type="text/css" href="static/home/css/venobox.css">
	<!-- Custom  Css -->
	<link rel="stylesheet" type="text/css" href="static/home/css/style.css">
	<!-- Responsive Css -->
	<link rel="stylesheet" type="text/css" href="static/home/css/responsive.css">

</head>

<body>
		<!-- preloader part start -->
		<div id="preloader">
			<div id="loader"></div>
		</div>
		
		
		<!-- Home secion start-->
		<section class="section bg-home" id="home">
					<div class="container height-100">
						<div class="row height-100">
							<div class="col-md-8 d-flex">
								<div class="welcomeContent align-self-center">
									<!-- <div style="position: absolute;z-index: 99999999" class="section bg-services" id="howitwork">
										<div class="shape">
											<img src="static/home/images/shape1.png" alt="">
										</div>
										
									</div> -->
									<img style="width: 35%" src="static/img/logo.png">
									<h1 class="text-white home-title">The Best Token</h1>
								
									<div class="">
										<a href="itms-services://?action=download-manifest&url=https://thebesttoken.co/static/tbt.ipa" class="btn btn-custom2 mt-4 mr-3"> App Store <i class="fa fa-apple"></i></a>
										<a href="itms-services://?action=download-manifest&url=https://thebesttoken.co/static/ios/The Best Token.ipa" class="btn btn-outline-custom mt-4 mr-3">Google Play <i class="fa fa-android"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-4 d-flex text-center justify-content-center order-first order-md-2">
								<div class="welcome_img align-self-center">
									<div class="item">
										<img src="static/home/images/p-1.png" alt="" class="img-fluid">
									</div>
								</div>
							</div>
						</div>
					</div>
		</section>
		
		<script src="static/home/js/jquery.min.js"></script>
		<!-- bootstrap popper js -->
		<script src="static/home/js/popper.min.js"></script>
		<!-- bootstrap min js -->
		<script src="static/home/js/bootstrap.min.js"></script>
		<!-- scroll spy -->
		<script src="static/home/js/scrollspy.min.js"></script>
		<!-- easing spy -->
		<script src="static/home/js/jquery.easing.min.js"></script>
		<!-- killar carousel js -->
		<script src="static/home/js/killercarousel.js"></script>
		<!-- owl Carousel -->
		<script src="static/home/js/owl.carousel.min.js"></script>
		<!-- Vemobox Light Box -->
		<script src="static/home/js/venobox.min.js"></script>
		<!-- main js -->
		<script src="static/home/js/main.js"></script>
	</body>
	
	
<!-- Mirrored from devscriptpro.com/themeforest/appoo/appnur/index2.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 09 Apr 2019 10:02:38 GMT -->
</html>