<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" >
    <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/apple-icon.html" >
    <link rel="icon" type="image/png" href="/static/img/logo.png" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >

    <title>{% block title %}{% endblock %}</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport' >
    <meta name="viewport" content="width=device-width" >

    <!-- Bootstrap core CSS     -->
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" >

    <!--  Paper Dashboard CSS    -->
    <link href="/static/assets/css/amaze.css" rel="stylesheet" >

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/static/assets/css/demo.css" rel="stylesheet" >

    <!--     Fonts and icons     -->
    <link href="/static/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/assets/css/font-muli.css" rel='stylesheet' type='text/css'>
    <link href="/static/assets/css/themify-icons.css" rel="stylesheet">
    <link href="/static/assets/vendors/sweetalert/css/sweetalert2.min.css" rel="Stylesheet" >
    <!-- fakeLoader -->
    <link href="/static/assets/css/fakeLoader.css" rel="stylesheet" >
    <link href="/static/assets/css/admin.css" rel="stylesheet" >
    {% block css %}{% endblock %}
    
</head>

<body>
<div class="fakeloader"></div>
    <div class="wrapper">
		{% include "sidebar_admin.html" %}
        <div class="main-panel">
            {% include "navbar_admin.html" %}
            <div class="content">
                <div class="container-fluid">
                <div class="row">
                <div class="col-lg-12">
                         <style type="text/css">
                          #tradertab span{
                            display: none !important; 
                          }
                          #tradertab iframe{
                            height: 73px !important;
                          }
                          .material-datatables{
                            width: 100%;
                            overflow-x: scroll;
                          }
                        </style>
                    
                </div>
                </div>
                {% block main %}{% endblock %}

                </div>
            </div>
            <!-- {% include "footer.html" %} -->
        </div>
    </div>
<!--   Core JS Files   -->
<script src="/static/assets/vendors/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="/static/assets/vendors/jquery-ui.min.js" type="text/javascript"></script>
<script src="/static/assets/vendors/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/assets/vendors/material.min.js" type="text/javascript"></script>
<script src="/static/assets/vendors/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>

<!--  Plugin for the Wizard -->
<script src="/static/assets/vendors/jquery.bootstrap-wizard.js"></script>
<!--  Notifications Plugin    -->
<script src="/static/assets/vendors/bootstrap-notify.js"></script>
<!-- DateTimePicker Plugin -->
<!-- <script src="/static/assets/vendors/bootstrap-datetimepicker.js"></script> -->
<!-- Vector Map plugin -->
<script src="/static/assets/vendors/jquery-jvectormap.js"></script>

<!--  DataTables.net Plugin    -->
<script src="/static/assets/vendors/jquery.datatables.js"></script>
<!-- Sweet Alert 2 plugin -->
        <script type="text/javascript" src="https://cdn.datatables.net/tabletools/2.2.4/js/dataTables.tableTools.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.flash.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>

<!-- Sweet Alert 2 plugin -->
<script src="/static/assets/vendors/sweetalert/js/sweetalert2.min.js"></script>
<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="/static/assets/vendors/jasny-bootstrap.min.js"></script>

<!-- TagsInput Plugin -->
<script src="/static/assets/vendors/jquery.tagsinput.js"></script>
<!-- Material Dashboard javascript methods -->
<script src="/static/assets/js/amaze.js"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="/static/assets/js/demo.js"></script>
<!-- fakeLoader -->
<script src="/static/assets/js/fakeLoader.min.js"></script>
<script>
    $(document).ready(function(){
        // $(".fakeloader").fakeLoader({
        //     timeToHide:100200,
        //     bgColor:"rgba(231, 76, 60, 0.45)",
        //     spinner:"spinner3"
        // });
        

      
    });
    
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.input-daterange input').each(function() {
  $(this).datepicker('clearDates');
}); 


        var datatables_depoist = $('#datatables_depoist').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf'
            ],
            "footerCallback": function ( row, data, start, end, display ) {
                var api = this.api(), data;
     
                var intVal = function ( i ) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '')*1 :
                        typeof i === 'number' ?
                            i : 0;
                };
                


                totalltc = api
                    .column( 5 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
                pageTotalltc = api
                    .column( 5, { page: 'current'} )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );

                $( api.column( 5 ).footer() ).html(
                    (pageTotalltc) +'  ('+ (totalltc) +')'
                );

                

                

            },
            "order": [[ 1, "desc" ]]
        });

        datatables_depoist.on( 'order.dt search.dt', function () {
              datatables_depoist.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                  cell.innerHTML = i+1;
              } );
          } ).draw();

        var datatables_investment = $('#datatables_investment').DataTable( {
           
            buttons: [
                'copy', 'csv', 'excel', 'pdf'
            ],

            "footerCallback": function ( row, data, start, end, display ) {
                var api = this.api(), data;
     
                var intVal = function ( i ) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '')*1 :
                        typeof i === 'number' ?
                            i : 0;
                };
                

                totalss = api
                    .column( 5 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
                pageTotalss = api
                    .column( 5, { page: 'current'} )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
                $( api.column( 5 ).footer() ).html(
                    ''+formatNumber(pageTotalss) +' ('+ formatNumber(totalss) +')'
                );

                totalsss = api
                    .column( 6 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
                pageTotalsss = api
                    .column( 6, { page: 'current'} )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
                $( api.column( 6 ).footer() ).html(
                    ''+formatNumber(pageTotalsss) +' ('+ formatNumber(totalsss) +')'
                );

                
            },
            "order": [[ 1, "desc" ]],
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
        });

        datatables_investment.on( 'order.dt search.dt', function () {
              datatables_investment.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                  cell.innerHTML = i+1;
              } );
          } ).draw();


        

        $('#datatables_withdraw').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf'
            ],
            "footerCallback": function ( row, data, start, end, display ) {
                var api = this.api(), data;
     
                var intVal = function ( i ) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '')*1 :
                        typeof i === 'number' ?
                            i : 0;
                };
                total = api
                    .column( 2 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
                pageTotal = api
                    .column( 2, { page: 'current'} )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
                $( api.column( 2 ).footer() ).html(
                    ''+formatNumber(pageTotal) +' ('+ formatNumber(total) +')'
                );
            },
        });


        $('#datatables_trademining').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf'
            ],
            "footerCallback": function ( row, data, start, end, display ) {
                var api = this.api(), data;
     
                var intVal = function ( i ) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '')*1 :
                        typeof i === 'number' ?
                            i : 0;
                };
                total = api
                    .column( 2 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
                pageTotal = api
                    .column( 2, { page: 'current'} )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
                $( api.column( 2 ).footer() ).html(
                    ''+formatNumber(pageTotal) +' ('+ formatNumber(total) +')'
                );
            },
        });
        var datatables_history = $('#datatables_history').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf'
            ],
            "footerCallback": function ( row, data, start, end, display ) {
                var api = this.api(), data;
     
                var intVal = function ( i ) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '')*1 :
                        typeof i === 'number' ?
                            i : 0;
                };
                total = api
                    .column( 3 )
                    .data()
                    .reduce( function (a, b) {
                        
                        return intVal(a) + intVal(b);
                    }, 0 );
                pageTotal = api
                    .column( 3, { page: 'current'} )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );

                $( api.column( 3 ).footer() ).html(
                    ''+formatNumber(pageTotal) +' ('+ formatNumber(total) +')'
                );
            },
            "order": [[ 1, "desc" ]]
            
        });

         datatables_history.on( 'order.dt search.dt', function () {
              datatables_history.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                  cell.innerHTML = i+1;
              } );
          } ).draw();


        var table = $('#datatables_customer').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf'
            ],
            "footerCallback": function ( row, data, start, end, display ) {
                var api = this.api(), data;
     
                var intVal = function ( i ) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '')*1 :
                        typeof i === 'number' ?
                            i : 0;
                };
                total = api
                    .column( 3 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
                pageTotal = api
                    .column( 3, { page: 'current'} )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
                $( api.column( 3 ).footer() ).html(
                    ''+formatNumber(pageTotal) +' ('+ formatNumber(total) +')'
                );

                totals = api
                    .column( 4 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
                pageTotals = api
                    .column( 4, { page: 'current'} )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
                $( api.column( 4 ).footer() ).html(
                    ''+formatNumber(pageTotals) +' ('+ formatNumber(totals) +')'
                );

                totalss = api
                    .column( 5 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
                pageTotalss = api
                    .column( 5, { page: 'current'} )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
                $( api.column( 5 ).footer() ).html(
                    ''+formatNumber(pageTotalss) +' ('+ formatNumber(totalss) +')'
                );

                totalsss = api
                    .column( 6 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
                pageTotalsss = api
                    .column( 6, { page: 'current'} )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
                $( api.column( 6 ).footer() ).html(
                    ''+formatNumber(pageTotalsss) +' ('+ formatNumber(totalsss) +')'
                );

                totalssss = api
                    .column( 7 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
                pageTotalssss = api
                    .column( 7, { page: 'current'} )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
                $( api.column( 7 ).footer() ).html(
                    ''+formatNumber(pageTotalssss) +' ('+ formatNumber(totalssss) +')'
                );

                totalsssss = api
                    .column( 8 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
                pageTotalsssss = api
                    .column( 8, { page: 'current'} )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
                $( api.column( 8 ).footer() ).html(
                    ''+formatNumber(pageTotalsssss) +' ('+ formatNumber(totalsssss) +')'
                );

                totalssssss = api
                    .column( 9 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
                pageTotalssssss = api
                    .column( 9, { page: 'current'} )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
                $( api.column( 9 ).footer() ).html(
                    ''+formatNumber(pageTotalssssss) +' ('+ formatNumber(totalssssss) +')'
                );

                totalsssssss = api
                    .column( 10 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
                pageTotalsssssss = api
                    .column( 10, { page: 'current'} )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
                $( api.column( 10 ).footer() ).html(
                    ''+formatNumber(pageTotalsssssss) +' ('+ formatNumber(totalsssssss) +')'
                );

                totalssssssss = api
                    .column( 11 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
                pageTotalsssssssss = api
                    .column( 11, { page: 'current'} )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
                $( api.column( 11 ).footer() ).html(
                    ''+formatNumber(pageTotalsssssssss) +' ('+ formatNumber(totalssssssss) +')'
                );
            },
            "order": [[ 0, "desc" ]]
        });
        
        table.on( 'order.dt search.dt', function () {
              table.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                  cell.innerHTML = i+1;
              } );
          } ).draw();

        var datatables_tables = $('#datatables_tables').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf'
            ],
            "footerCallback": function ( row, data, start, end, display ) {
                var api = this.api(), data;
     
                var intVal = function ( i ) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '')*1 :
                        typeof i === 'number' ?
                            i : 0;
                };
                
            },
            "order": [[ 0, "desc" ]]
        });
        
        datatables_tables.on( 'order.dt search.dt', function () {
              datatables_tables.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                  cell.innerHTML = i+1;
              } );
          } ).draw();

        var datatables_transfer = $('#datatables_transfer').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf'
            ],
            "footerCallback": function ( row, data, start, end, display ) {
                var api = this.api(), data;
     
                var intVal = function ( i ) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '')*1 :
                        typeof i === 'number' ?
                            i : 0;
                };
                total = api
                    .column( 4 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );

                totals = api
                    .column( 5 )
                    .data()
                    .reduce( function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0 );
                
                $( api.column( 4 ).footer() ).html(
                    '$ '+ formatNumber(total)
                );
                $( api.column( 5 ).footer() ).html(
                    '$ '+ formatNumber(totals)
                );
            },
            "order": [[ 1, "desc" ]]
        });

         datatables_transfer.on( 'order.dt search.dt', function () {
              datatables_transfer.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                  cell.innerHTML = i+1;
              } );
          } ).draw();
        

      $.fn.dataTable.ext.search.push(
          function(settings, data, dataIndex) {
            var min = $('#min-date').val();
            var max = $('#max-date').val();
            var createdAt = data[1] || 0; 

            if (
              (min == "" || max == "") ||
              (moment(createdAt).isSameOrAfter(min) && moment(createdAt).isSameOrBefore(max))
            ) {
              return true;
            }
            return false;
          }
        );

        $('.date-range-filter').change(function() {
          table.draw();
        });

        $('.table_historys .date-range-filter').change(function() {
          datatables_history.draw();
        });

        $('.table_deposit .date-range-filter').change(function() {
          datatables_depoist.draw();
        });

        $('.table_withdraw_pendding .date-range-filter').change(function() {
          datatables_depoist.draw();
        });

        $('.table_investment .date-range-filter').change(function() {
          datatables_investment.draw();
        });
        $('.table_transfer .date-range-filter').change(function() {
          datatables_transfer.draw();
        });

        
        function formatNumber (num) {
            return num.toFixed(8).replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")
        }
        
            
        

        $('.card .material-datatables label').addClass('form-group');


        /*$('.confirm_wr').on("click", function() {
            var oldVal = '';
            var newVal = prompt("Enter Password Withdraw:", oldVal);
            var results = document.getElementById("results");
            if (newVal === "admin@admin") {
              return true;
            } else if (newVal) {
              alert("Error Password");
              return false;
            } else {
              alert("Error Password");
                return false;
            }
        });*/

    });
</script>
{% block js %}
{% endblock %}
{% with messages = get_flashed_messages() %}
 {% if messages %}
 {% for message in messages %}
        <script type="text/javascript">
            showNotification('top','right','{{ message.msg }}', '{{ message.type }}');
            function showNotification(from, align, msg, type){
                // type = ['','info','success','warning','danger','rose','primary'];
                var color = Math.floor((Math.random() * 6) + 1);
                $.notify({
                    icon: "notifications",
                    message: msg
                },{
                    type: type,
                    timer: 3000,
                    placement: {
                        from: from,
                        align: align
                    }
                });
            }
        </script>
        {% endfor %}
    {% endif %}
   {% endwith %}
</body>
</html>
