<!doctype html> 
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
      
      <title>Login</title>
      <link rel="icon" type="image/x-icon" href="/static/img/logo.png">
      <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" >
      <link href="/static/assets/css/amaze.css" rel="stylesheet" >
      <link href="/static/assets/css/demo.css" rel="stylesheet" >
      <link href="/static/assets/vendors/sweetalert/css/sweetalert2.min.css" rel="Stylesheet" >
      
   </head>
   <body>
      <div id="Account" class="wrapper wrapper-full-page" style="background-size: cover;
         background-repeat: no-repeat;">
         <div class="full-page login-page"  >
            <div class="content">
               <div class="container">
                  <div class="row"> 
                     <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
                        <div class="login-content">
                        
                           <form id="frmLogin" name="login" action="/auth/login" method="POST">
                              <div class="card card-login card-hidden">
                                 <div class="header-text text-center">
                                    <a href="/"> <img style="" class="logo" src="/static/img/logo.png" alt="" > </a> 
                                 </div>
                                 <div class="content" style="">
                                 {% if data.val_username != '' or data.val_recaptcha != '' or data.val_password != '' or data.val_login != '' %}
                                       <div class="alert alert-danger">
                                          <span class="badge badge-pill badge-danger">Error</span>
                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                             <span aria-hidden="true">×</span>
                                          </button>
                                          <hr>

                                          {% if data.val_username == 'empty' %}
                                          <p><i class="fa fa-star"></i> Please enter your username.</p>
                                          {% endif %}
                                          {% if data.val_password == 'empty' %}
                                          <p><i class="fa fa-star"></i> Please enter your password.</p>
                                          {% endif %}
                                          {% if data.val_recaptcha == 'empty' %}
                                          <p><i class="fa fa-star"></i> Error Recapcha.</p>
                                          {% endif %}
                                          {% if data.val_login == 'not' %}
                                          <p><i class="fa fa-star"></i> Incorrect login information. Please check again.</p>
                                          {% endif %}
                                          {% if data.val_login == 'not-active' %}
                                          <p><i class="fa fa-star"></i> Your account has not been activated. Please check again.</p>
                                          {% endif %}
                                          
                                       </div>
                                    {% endif %}

                                    <div class="form-group"> <label>Username</label> <input autofocus placeholder="Username" type="text" name="username" class="form-control input-no-border au-input" required="required" aria-required="true"> </div>
                                    <div class="form-group"> <label>Password</label> <input type="password" name="password" autofocus placeholder="Password" class="form-control input-no-border au-input" required="required" aria-required="true"> </div>
                                    
                                    <div class="form-group" style="float: left;width: 100%; margin-bottom: 30px;">
                                       <div class="pull-left">
                                         <input type="checkbox" name=""> Remember Me
                                       </div>
                                       <div class="pull-right">
                                       <a href="/auth/reset-password" style="color: #DDAF3F">Forgotten Password?</a>
                                       </div>
                                    </div>
                                    <div class="form-group"  style="float: left;width: 100%; margin-bottom: 10px;">
                                       <script src='https://www.google.com/recaptcha/api.js'></script> 
                                       <div class="capcha-google text-center" style="width:240px; margin-bottom:15px;margin: 0 auto; display: block">
                                          <div class="g-recaptcha"  data-sitekey="6LcESjUUAAAAAN0l4GsSiE2cLLZLZQSRZsEdSroE"></div>
                                       </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-group">
                                       <div class="text-center">
                                          <span id="submitLogin" class="btn btn-warning btn-wd btn-fill">Sign In</span> 
                                          <!-- <hr>
                                          <p>Don't you have account?<a href="/auth/register/0" style="color: #DDAF3F"> Sign Up Here </a> </p> -->
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="/static/assets/vendors/jquery-3.1.1.min.js" type="text/javascript"></script> <script src="/static/assets/vendors/bootstrap-notify.js"></script> <script src="/static/assets/vendors/sweetalert/js/sweetalert2.min.js"></script> <script src="/static/assets/js/demo.js"></script> {% block js %}
      {% endblock %}
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <script type="text/javascript"> showNotification('top','right','{{ message.msg }}', '{{ message.type }}'); function showNotification(from, align, msg, type){var color = Math.floor((Math.random() * 6) + 1); $.notify({icon: "notifications", message: msg },{type: type, timer: 3000, placement: {from: from, align: align } }); } </script> {% endfor %}
      {% endif %}
      {% endwith %}
     
   </body>
</html>