
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
    
    <title>World Trade</title> 

  	<link rel="stylesheet" href="/static/frontend/css/style.css" />
  	<link rel="stylesheet" href="/static/frontend/css/bootstrap.min.css" />
  	<link rel="stylesheet" href="/static/frontend/css/ionicons.min.css" />
  	{% if(data.menu == 'roadmap') %}
	<link rel="stylesheet" href="/static/frontend/plugins/time-line/animate.min.css">
  	<link rel="stylesheet" href="/static/frontend/plugins/time-line/default.min.css">
  	<link rel="stylesheet" href="/static/frontend/plugins/time-line/frst-timeline.css">
	{% endif %}
	<script type="text/javascript"> _atrk_opts = { atrk_acct:"LY24q1kx0820/9", domain:"smartfva.co",dynamic: true}; (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })(); </script> <noscript><img src="https://certify.alexametrics.com/atrk.gif?account=LY24q1kx0820/9" style="display:none" height="1" width="1" alt="" /></noscript> <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110943407-1"></script><script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-110943407-1'); </script>
</head>
<body onload="myLoader()">	
<div id="loader">
	<div id="animated-loader-spin">		
		<img src="/static/frontend/images/logo-small.svg">
		<div class="loader-spin"></div>
	</div>
</div>	
<div id="stage" style="display: none;">
	<header>
		<nav id="menu">
			<div class="page-top-header">
				<div class="container">
					<div class="row">
						<div id="menu-toggle-top" class="col-2">
							<a class="btn-sva-menu-toggle">
								<i class="ion-navicon-round" data-pack="default" data-tags="menu, hamburger, slide menu"></i>
							</a>
						</div>
						<div class="col-lg-10 navbar-nav-fullwidth">
							<ul class="navbar-nav bd-navbar-nav flex-row">
								<li class="nav-item"><a href="/" class="nav-logo "></a></li>
								<li class="nav-item"><a href="ico" class="nav-link">ICO</a></li>
								<li class="nav-item"><a href="/lending" class="nav-link">LENDING</a></li>
								<li class="nav-item"><a href="/affiliate" class="nav-link">Affiliate</a></li>
								<li class="nav-item"><a href="/static/whitepaper.pdf" target="_blank" class="nav-link">WHITEPAPER</a></li>
								<li class="nav-item"><a href="roadmap" class="nav-link">ROADMAP</a></li>
								<li class="nav-item"><a target="_blank" href="https://exchange.smartfva.co/" class="nav-link">EXCHANGE</a></li>
							</ul>
						</div>
						<div class="col-lg-2 col-10 text-right">
								<a class="btn btn-sva-primary" href="/auth/login">JOIN US</a>
							</ul>
						</div>
						<div id="bg-close-menu">
						</div>					
					</div>
				</div>
			</div>	
		</nav>
		{% if(data.menu == 'home') %}
		<div id="slide-show">
            <div class="slides-container" style="display: none;">		      
		      <img src="/static/frontend/images/slide-4.jpg" width="1024" height="682" alt="slide-1">
		      <img src="/static/frontend/images/slide-1.jpg" width="1024" height="683" alt="slide-2">
		      <img src="/static/frontend/images/slide-2.jpg" width="1024" height="685" alt="slide-5">
		      <img src="/static/frontend/images/slide-5.jpg" width="1024" height="682" alt="slide-3">
		      <img src="/static/frontend/images/slide-3.jpg" width="1024" height="683" alt="slide-4">
		    </div>
		    <div id="logo-slide">
		    	<img src="/static/frontend/images/logo.svg">
		    	<p class="logo-slide-caption">FUTURE<br>SMART VIRTUAL ASSISTANT</p>
		    </div>
		    <div class="scroll-down"><a><span></span><span></span><span></span></a></div>
		</div>
		{% endif %}
		
			
	</header>