{% extends "layout.html" %}
{% block title %}Change Password{% endblock %}
{% block js %}
<script src="/static/assets/js/script.js"></script>
<script src="/static/assets/js/getinfo.js"></script>
{% endblock %}
{% block main %}

<div class="section__content section__content--p30">
   <div class="card">
      <div class="card-header">
         <strong class="card-title">CHANGE PASSWORD</strong>
      </div>
      <div class="card-body">
         <div class="">
            <div class="col-md-8 col-md-push-2">
               <form id="frmChangePassword" action="/user/update-password" method="POST">
                  
                  <div class="form-group label-floating">
                     <label class="control-label">
                        Old Password
                        <star>*</star>
                     </label>
                     <input class="form-control" name="old_password" type="password" required="true">
                  </div>
                  <div class="form-group label-floating">
                     <label class="control-label">
                        New Password
                        <star>*</star>
                     </label>
                     <input class="form-control" name="new_password" type="password" required="true">
                  </div>
                  <div class="form-group label-floating">
                     <label class="control-label">
                        Retype New Password
                        <star>*</star>
                     </label>
                     <input class="form-control" name="repeat_new_password" type="password" required="true">
                  </div>
                  <div class="category form-category">
                     <star>*</star>
                     Required fields
                  </div>
                  <div class="text-center">
                     <button type="submit" class="btn btn-rose btn-fill btn-wd">Change</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>



{% endblock %}