{% extends "layout.html" %}
{% block title %}Transaction History | World Trade{% endblock %}
{% block js %}
    <script type="text/javascript">
        $('#datatables_history').DataTable({
          "order": [
             [0, "desc"]
          ], 
          autoWidth: false, 
          searching: true,
          ordering: true, 
          responsive: true, 
          lengthChange: false, 
          destroy: true,
          paging: true, 
          info: false
       });
    </script>
    <script src="/static/assets/js/getinfo.js"></script>
{% endblock %}
{% block main %}
<div class="row">
   <div class="col-md-12">
      <div class="card">
         <div class="content">
            <h4 class="title">Transaction History</h4>
            <div class="toolbar">
               <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="material-datatables">
               <table id="datatables_history" class="table table-striped table-no-bordered table-hover" style="width:100%;cellspacing:0">
                  <thead>
                     <tr>
                        <th>Date</th>
                         <th>Type</th>
                        <th>Amount</th>
                       
                        <th>Currency</th>
                        <th>Description</th>
                     </tr>
                  </thead>
                  <tbody>
                     {% if data.history %}
                     {% for item in data.history %}
                     <tr>
                        <td>{{ item.date_added | format_date }}</td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.amount }} </td>
                        
                        <td>{{ item.wallet }}</td>
                        <td>{{ item.detail  }}</td>
                     </tr>
                     {% endfor %}
                     {% endif %}
                  </tbody>
               </table>
            </div>
         </div>
         <!-- end content-->
      </div>
      <!--  end card  -->
   </div>
   <!-- end col-md-12 -->
</div>
{% endblock %}