{% extends "layout.html" %}
{% block title %}Refferal | World Trade{% endblock %}
{% block css %}

{% endblock %}
{% block js %}
<script src="/static/assets/js/getinfo.js"></script>

{% endblock %}
	

{% block main %}
<div class="row">
         <div class="col-md-12">
            <div class="card">
               <div class="header">
                  <h4 class="title">Invite Friends
                  </h4>
               </div>
               <div class="content invte_firends">
                  <div class="item-invte text-center">
                                          <xmp style=" white-space: normal; word-break: break-word; ">
<a href="{{data.refferal_link}}"> <img src="https://smartfva.co//static/img/refferal/01.gif"/> </a>
</xmp> 
                     <img src="/static/img/refferal/01.gif">  
                     
                  </div>

                  <div class="item-invte text-center">
                     <xmp style=" white-space: normal; word-break: break-word; "><a href="{{data.refferal_link}}"> <img src="https://smartfva.co/static/img/refferal/02.gif" /> </a></xmp>
                     <img src="/static/img/refferal/02.gif">
                     
                     
                  </div>

                  <div class="item-invte text-center">
                     <xmp style=" white-space: normal; word-break: break-word; "><a href="{{data.refferal_link}}"> <img src="https://smartfva.co/static/img/refferal/03.gif" /> </a></xmp>
                     <img src="/static/img/refferal/03.gif">
                     
                     
                  </div>

                  <div class="item-invte text-center"><xmp style=" white-space: normal; word-break: break-word; "><a href="{{data.refferal_link}}"> <img src="https://smartfva.co/static/img/refferal/04.gif" /> </a></xmp>
                     <img src="/static/img/refferal/04.gif">
                     
                     
                  </div>
               
               </div>
            </div>
         </div>
      </div>


{% endblock %}

