{% extends "layout.html" %}
{% block title %}Summary | World trade{% endblock %}

{% block js %}
<script src="/static/assets/js/getinfo.js"></script>
{% endblock %}
	

{% block main %}
<div class="row">
<div class="col-md-6 col-md-offset-3">
                            <div class="card">
                                <div class="content text-center">
                                    <h1>Comming Soon</h1>
                                </div>
                            </div>
                        </div>
   <!-- <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card">
         <div class="content">
            <div class="row">
               <div class="col-xs-12">
                  <div class="numbers">
                     <p>Team Left</p>
                     {{ (data.float(data.user.total_pd_left)) | number_format}} $
                  </div>
               </div>
            </div>
         </div>
         <div class="card-footer">
            <div class="stats">
               <i class="ti-alert text-warning"></i> Wallet
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card">
         <div class="content">
            <div class="row">
               <div class="col-xs-12">
                  <div class="numbers">
                     <p>Commission</p>
                     {{ (data.float(data.user.total_pd_right)) | number_format}} $
                  </div>
               </div>
            </div>
         </div>
         <div class="card-footer">
            <div class="stats">
               <i class="ti-tag text-warning"></i> Wallet
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-6 col-md-12 col-sm-12">
     <div class="card">
          <div class="content">
            <div class="row">
               <div class="col-xs-12">
                  <div class="numbers">
                     <p>Your Refferal Link</p>
                     <a href="{{data.refferal_link}}" target="_blank" style="white-space: normal;word-break: break-all;">{{data.refferal_link}}</a>
                  </div>
               </div>
            </div>
         </div>
         
      </div>
   </div>
   <div class="col-lg-12 col-md-12">
      <div class="card icons-card">
         <div class="header">
            TEAM BALANCE
         </div>
         <div class="content card-padding personal-icon ">
            <ul>
               <li data-name="ti-arrow-up" data-code="e627"><i class="zpdi ti-arrow-up"></i> <span>ti-arrow-up</span></li>
               <li data-name="ti-arrow-right" data-code="e628"><i class="zpdi ti-arrow-right"></i> <span>ti-arrow-right</span></li>
               <li data-name="ti-arrow-left" data-code="e629"><i class="zpdi ti-arrow-left"></i> <span>ti-arrow-left</span></li>
               <li data-name="ti-arrow-down" data-code="e62a"><i class="zpdi ti-arrow-down"></i> <span>ti-arrow-down</span></li>
               <li data-name="ti-arrows-vertical" data-code=""><i class="zpdi ti-arrows-vertical"></i> <span>ti-arrows-vertical</span></li>
               <li data-name="ti-arrows-horizontal" data-code=""><i class="zpdi ti-arrows-horizontal"></i> <span>ti-arrows-horizontal</span></li>
            </ul>
         </div>
      </div>
      
   </div> -->
</div>
{% endblock %}

