{% extends "layout.html" %}
{% block title %}Personal | World Trade{% endblock %}
{% block css %}
<!-- <link href="/static/assets/css/tree.css" rel="stylesheet" > -->
<link href="/static/assets/css/jstree.css" rel="stylesheet" >
{% endblock %}
{% block js %}

<!-- <script type="text/javascript" src="/static/assets/js/lodash.min.js"></script> -->
<!-- <script src="/static/assets/js/personal.js"></script> -->
<script src="/static/assets/js/getinfo.js"></script>
<script type="text/javascript" src="/static/assets/js/jstree.min.js"> </script>
<script type="text/javascript">
    $('#TreeSystem').jstree({
            'core' : {
               'data' : {
                  "url" : "/account/json_tree_ico/{{data.uid}}",
                  "dataType" : "json",
         'data' : function (node) {
                  return { 'id' : node.id };
              }
               }
            }
         });
</script>

{% endblock %}
{% block main %}

<div class="row">
   <div class="col-sm-12">
      
   
    <div class="card">
         <div class="content">
            <h4 class="title">Sytem Tree</h4>
            <div class="toolbar">
               <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div id="TreeSystem" class="demo"></div>
         </div>
         <!-- end content-->
      </div>
   <!-- end col-md-12 -->
   </div>
</div>

<div id="alertTree"></div>
<div id="dataRefferal"></div>
{% endblock %}